optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getmuxinfo/getMuxInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com.tcl.ace.tdm.getmux.ws.GetMuxConsumer" xmlns:bons0="urn:com.tcl.ace.tdm.getmux.ws.GetMuxConsumer" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="muxDetail.xsd"/>
  <xs:complexType name="getMuxInfo">
    <xs:sequence>
      <xs:element minOccurs="1" name="ServiceId" type="xs:string"/>
      <xs:element minOccurs="1" name="RequestId" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="AEndMuxDetails" type="bons0:muxDetail"/>
      <xs:element minOccurs="0" name="ZEndMuxDetails" type="bons0:muxDetail" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getMuxInfo" type="bons0:getMuxInfo"/>
</xs:schema>