optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getmuxinfo/GetMuxConsumerWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="GetMuxConsumer" targetNamespace="urn:com.tcl.ace.tdm.getmux.ws.GetMuxConsumer" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:bons0="urn:com.tcl.ace.tdm.getmux.ws.GetMuxConsumer">
  <types>
    <xs:schema targetNamespace="com.tcl.ace.tdm.getmux.ws.GetMuxConsumer" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    <xsd:schema targetNamespace="urn:com.tcl.ace.tdm.getmux.ws.GetMuxConsumer" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="submitMuxDetailFailureResponseAck.xsd"/>
      <xsd:include schemaLocation="getMuxInfoAck.xsd"/>
      <xsd:include schemaLocation="Acknowledgement.xsd"/>
      <xsd:include schemaLocation="submitMuxDetailFailureResponse.xsd"/>
      <xsd:include schemaLocation="getMuxInfo.xsd"/>
      <xsd:element name="getMuxInfoFault1_getMuxInfoFault" nillable="true" type="bons0:Acknowledgement"/>
      <xsd:element name="submitMuxDetailFailureResponseFault1_submitMuxDetailFailureResponseFault" nillable="true" type="bons0:Acknowledgement"/>
    </xsd:schema>
  </types>
  <message name="GetMuxConsumer_submitMuxDetailFailureResponseResponse">
    <part name="submitMuxDetailFailureResponseAck" element="bons0:submitMuxDetailFailureResponseResponse"/>
  </message>
  <message name="GetMuxConsumer_getMuxInfo">
    <part name="getMuxInfo" element="bons0:getMuxInfo"/>
  </message>
  <message name="submitMuxDetailFailureResponse_submitMuxDetailFailureResponseFaultMsg">
    <part name="submitMuxDetailFailureResponseFault" element="bons0:submitMuxDetailFailureResponseFault1_submitMuxDetailFailureResponseFault"/>
  </message>
  <message name="getMuxInfo_getMuxInfoFaultMsg">
    <part name="getMuxInfoFault" element="bons0:getMuxInfoFault1_getMuxInfoFault"/>
  </message>
  <message name="GetMuxConsumer_submitMuxDetailFailureResponse">
    <part name="submitMuxDetailFailureResponse" element="bons0:submitMuxDetailFailureResponse"/>
  </message>
  <message name="GetMuxConsumer_getMuxInfoResponse">
    <part name="getMuxInfoAck" element="bons0:getMuxInfoResponse"/>
  </message>
  <portType name="GetMuxConsumer">
    <operation name="getMuxInfo" parameterOrder="getMuxInfo">
      <input message="bons0:GetMuxConsumer_getMuxInfo"/>
      <output message="bons0:GetMuxConsumer_getMuxInfoResponse"/>
      <fault name="getMuxInfoFault" message="bons0:getMuxInfo_getMuxInfoFaultMsg"/>
    </operation>
    <operation name="submitMuxDetailFailureResponse" parameterOrder="submitMuxDetailFailureResponse">
      <input message="bons0:GetMuxConsumer_submitMuxDetailFailureResponse"/>
      <output message="bons0:GetMuxConsumer_submitMuxDetailFailureResponseResponse"/>
      <fault name="submitMuxDetailFailureResponseFault" message="bons0:submitMuxDetailFailureResponse_submitMuxDetailFailureResponseFaultMsg"/>
    </operation>
  </portType>
</definitions>