optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getmuxinfo/submitMuxDetailFailureResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com.tcl.ace.tdm.getmux.ws.GetMuxConsumer" xmlns:bons0="urn:com.tcl.ace.tdm.getmux.ws.GetMuxConsumer" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="muxDetailFailureResponse.xsd"/>
  <xs:complexType name="submitMuxDetailFailureResponse">
    <xs:sequence>
      <xs:element minOccurs="1" name="ServiceId" type="xs:string"/>
      <xs:element minOccurs="1" name="RequestId" type="xs:string"/>
      <xs:element minOccurs="0" name="failure" type="bons0:muxDetailFailureResponse"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="submitMuxDetailFailureResponse" type="bons0:submitMuxDetailFailureResponse"/>
</xs:schema>