optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getmuxinfo/submitMuxDetailFailureResponseAck.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com.tcl.ace.tdm.getmux.ws.GetMuxConsumer" xmlns:bons0="urn:com.tcl.ace.tdm.getmux.ws.GetMuxConsumer" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Acknowledgement.xsd"/>
  <xs:complexType name="submitMuxDetailFailureResponseAck">
    <xs:sequence>
      <xs:element minOccurs="0" name="acknowledgement" type="bons0:Acknowledgement"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="submitMuxDetailFailureResponseResponse" type="bons0:submitMuxDetailFailureResponseAck"/>
</xs:schema>