optimus/optimus-serviceactivation/src/main/resources/wsdl/offnetdetails/AcknowledgementOffnet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Acknowledgement">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="status" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="errorCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="errorMessage" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>