optimus/optimus-serviceactivation/src/main/resources/wsdl/offnetdetails/offnetInterface.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" xmlns:bons0="urn:com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="timeSlot.xsd"/>
  <xs:complexType name="offnetInterface">
    <xs:sequence>
      <xs:element minOccurs="0" name="NNIID" type="xs:string"/>
      <xs:element minOccurs="0" name="PROVIDER_NodeId" type="xs:string"/>
      <xs:element minOccurs="0" name="PROVIDER_NodeName" type="xs:string"/>
      <xs:element minOccurs="0" name="TCL_NodeId" type="xs:string"/>
      <xs:element minOccurs="0" name="TCL_NodeName" type="xs:string"/>
      <xs:element minOccurs="0" name="TCL_PortId" type="xs:string"/>
      <xs:element minOccurs="0" name="TCL_PortName" type="xs:string"/>
      <xs:element minOccurs="0" name="TimeSlots" type="bons0:timeSlot"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>