optimus/optimus-serviceactivation/src/main/resources/wsdl/offnetdetails/ReserveTSTally.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" xmlns:bons0="urn:com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="workerOffnetInterface.xsd"/>
  <xs:include schemaLocation="requestHeader.xsd"/>
  <xs:include schemaLocation="protectionOffnetInterface.xsd"/>
  <xs:complexType name="ReserveTSTally">
    <xs:sequence>
      <xs:element minOccurs="0" name="Header" type="bons0:requestHeader"/>
      <xs:element minOccurs="0" name="WorkerOffnetInterface" type="bons0:workerOffnetInterface"/>
      <xs:element minOccurs="0" name="ProtectionOffnetInterface" type="bons0:protectionOffnetInterface"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReserveTSTally" type="bons0:ReserveTSTally"/>
</xs:schema>