optimus/optimus-serviceactivation/src/main/resources/wsdl/offnetdetails/submitTSSelectionFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" xmlns:bons0="urn:com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="timeSlotSubmitionFault.xsd"/>
  <xs:include schemaLocation="requestHeader.xsd"/>
  <xs:complexType name="submitTSSelectionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Header" type="bons0:requestHeader"/>
      <xs:element minOccurs="0" name="Fault" type="bons0:timeSlotSubmitionFault"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="submitTSSelectionFault" type="bons0:submitTSSelectionFault"/>
</xs:schema>