optimus/optimus-serviceactivation/src/main/resources/wsdl/offnetdetails/timeSlotSubmitionFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="timeSlotSubmitionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:string"/>
      <xs:element minOccurs="0" name="errorLongDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="errorShortDescription" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>