optimus/optimus-serviceactivation/src/main/resources/wsdl/offnetdetails/TSReservation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TimeSlotsConsumption" targetNamespace="com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" xmlns:bons1="urn:com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption">
  <types>
    <xs:schema targetNamespace="com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="urn:com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" schemaLocation="submitTSSelectionFaultResponse.xsd"/>
      <xs:import namespace="urn:com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" schemaLocation="submitTSSelectionFault.xsd"/>
      <xs:import namespace="urn:com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" schemaLocation="setElectricalHandOffDetailsResponse.xsd"/>
      <xs:import namespace="urn:com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" schemaLocation="setElectricalHandOffDetails.xsd"/>
      <xs:import namespace="urn:com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" schemaLocation="ReserveTSTallyResponse.xsd"/>
      <xs:import namespace="urn:com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" schemaLocation="ReserveTSTally.xsd"/>
      <xs:import namespace="urn:com.tatacommunications.cramer.ace.tsSubmition.ws.TimeSlotsConsumption" schemaLocation="AcknowledgementOffnet.xsd"/>
      <xs:element name="setOpticalHandOffDetailsFault1_setOpticalHandOffDetailsFault" nillable="true" type="bons1:Acknowledgement"/>
      <xs:element name="setElectricalHandOffDetailsFault1_setElectricalHandOffDetailsFault" nillable="true" type="bons1:Acknowledgement"/>
      <xs:element name="submitTSSelectionFaultFault1_submitFault" nillable="true" type="bons1:Acknowledgement"/>
    </xs:schema>
  </types>
  <message name="TimeSlotsConsumption_setElectricalHandOffDetailsResponse">
    <part name="setElectricalHandOffDetailsResponse" element="bons1:setElectricalHandOffDetailsResponse"/>
  </message>
  <message name="TimeSlotsConsumption_submitTSSelectionFault">
    <part name="submitTSSelectionFault" element="bons1:submitTSSelectionFault"/>
  </message>
  <message name="submitTSSelectionFault_submitFaultMsg">
    <part name="submitFault" element="tns:submitTSSelectionFaultFault1_submitFault"/>
  </message>
  <message name="setElectricalHandOffDetails_setElectricalHandOffDetailsFaultMsg">
    <part name="setElectricalHandOffDetailsFault" element="tns:setElectricalHandOffDetailsFault1_setElectricalHandOffDetailsFault"/>
  </message>
  <message name="setOpticalHandOffDetails_setOpticalHandOffDetailsFaultMsg">
    <part name="setOpticalHandOffDetailsFault" element="tns:setOpticalHandOffDetailsFault1_setOpticalHandOffDetailsFault"/>
  </message>
  <message name="TimeSlotsConsumption_ReserveTSTallyResponse">
    <part name="ReserveTSTallyResponse" element="bons1:ReserveTSTallyResponse"/>
  </message>
  <message name="TimeSlotsConsumption_setElectricalHandOffDetails">
    <part name="setElectricalHandOffDetails" element="bons1:setElectricalHandOffDetails"/>
  </message>
  <message name="TimeSlotsConsumption_ReserveTSTally">
    <part name="ReserveTSTally" element="bons1:ReserveTSTally"/>
  </message>
  <message name="TimeSlotsConsumption_submitTSSelectionFaultResponse">
    <part name="submitTSSelectionFaultResponse" element="bons1:submitTSSelectionFaultResponse"/>
  </message>
  <portType name="TimeSlotsConsumption">
    <operation name="setOpticalHandOffDetails" parameterOrder="ReserveTSTally">
      <input message="tns:TimeSlotsConsumption_ReserveTSTally"/>
      <output message="tns:TimeSlotsConsumption_ReserveTSTallyResponse"/>
      <fault name="setOpticalHandOffDetailsFault" message="tns:setOpticalHandOffDetails_setOpticalHandOffDetailsFaultMsg"/>
    </operation>
    <operation name="setElectricalHandOffDetails" parameterOrder="setElectricalHandOffDetails">
      <input message="tns:TimeSlotsConsumption_setElectricalHandOffDetails"/>
      <output message="tns:TimeSlotsConsumption_setElectricalHandOffDetailsResponse"/>
      <fault name="setElectricalHandOffDetailsFault" message="tns:setElectricalHandOffDetails_setElectricalHandOffDetailsFaultMsg"/>
    </operation>
    <operation name="submitTSSelectionFault" parameterOrder="submitTSSelectionFault">
      <input message="tns:TimeSlotsConsumption_submitTSSelectionFault"/>
      <output message="tns:TimeSlotsConsumption_submitTSSelectionFaultResponse"/>
      <fault name="submitFault" message="tns:submitTSSelectionFault_submitFaultMsg"/>
    </operation>
  </portType>
</definitions>