optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/eoriordetails/IOREORDependancy_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="IOREORDependancy" targetNamespace="http://cramerserviceslibrary/csvc/wsdl/v3/eoriordetails" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cramerserviceslibrary/csvc/wsdl/v3/eoriordetails" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xs:schema targetNamespace="http://cramerserviceslibrary/csvc/wsdl/v3/eoriordetails" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ServiceFault" type="tns:ServiceFault"/>
      <xs:element name="getIEOR" type="tns:getIEOR"/>
      <xs:element name="getIEORResponse" type="tns:getIEORResponse"/>
      <xs:complexType name="getIEOR">
        <xs:sequence>
          <xs:element minOccurs="0" name="RequestHeader" type="tns:cramerRequestHeader"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cramerRequestHeader">
        <xs:sequence>
          <xs:element name="ObjectName" type="xs:string"/>
          <xs:element name="ObjectType" type="tns:objectType"/>
          <xs:element name="RequestID" type="xs:string"/>
          <xs:element minOccurs="0" name="RequestTime" type="xs:string"/>
          <xs:element minOccurs="0" name="RequestingSystem" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getIEORResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="IOREORDependancyOutput" type="tns:ioreorDependancyOutput"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ioreorDependancyOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="DependancyFlag" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="EORList" type="tns:eorList"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="IORList" type="tns:iorList"/>
          <xs:element minOccurs="0" name="ObjectName" type="xs:string"/>
          <xs:element minOccurs="0" name="ObjectType" type="tns:objectType"/>
          <xs:element minOccurs="0" name="RequestID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="eorList">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="iorList">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:string"/>
          <xs:element minOccurs="0" name="errorLongDescription" type="xs:string"/>
          <xs:element minOccurs="0" name="errorShortDescription" type="xs:string"/>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="suppressed" type="tns:throwable"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="throwable">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="stackTrace" nillable="true" type="tns:stackTraceElement"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType final="extension restriction" name="stackTraceElement">
        <xs:sequence/>
      </xs:complexType>
      <xs:simpleType name="objectType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SERVICE"/>
          <xs:enumeration value="IOR"/>
          <xs:enumeration value="EOR"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </types>
  <message name="ServiceFault">
    <part element="tns:ServiceFault" name="ServiceFault"/>
  </message>
  <message name="IOREORDependancy_getIEOR">
    <part element="tns:getIEOR" name="getIEOR"/>
  </message>
  <message name="IOREORDependancy_getIEORResponse">
    <part element="tns:getIEORResponse" name="getIEORResponse"/>
  </message>
  <portType name="IOREORDependancy">
    <operation name="getIEOR" parameterOrder="getIEOR">
      <input message="tns:IOREORDependancy_getIEOR"/>
      <output message="tns:IOREORDependancy_getIEORResponse"/>
      <fault message="tns:ServiceFault" name="ServiceFault"/>
    </operation>
  </portType>
  <binding name="IOREORDependancyBinding" type="tns:IOREORDependancy">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getIEOR">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceFault">
        <soap:fault name="ServiceFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="IOREORDependancy">
    <port binding="tns:IOREORDependancyBinding" name="IOREORDependancyPort">
      <soap:address location="http://uswv1vuap003a.vsnl.co.in:8080/Ace_E2E/IOREORDependancy.cnms"/>
    </port>
  </service>
</definitions>