optimus/optimus-servicehandover/src/main/resources/wsdl/IPC/CustomerData/AccountInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://WS.CustomerManagement.com" xmlns:bons0="http://WS.CustomerManagement.com" xmlns:bons1="http://WS.CustomerManagement.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="AccountBillingAddress.xsd"/>
  <xsd:include schemaLocation="AccountContactDetails.xsd"/>
  <xsd:complexType name="AccountInformation">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AccountNo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AccountBillingAddress" type="bons0:AccountBillingAddress"/>
      <xsd:element minOccurs="0" name="AccountContactDetails" type="bons0:AccountContactDetails"/>
      <xsd:element minOccurs="0" name="InvoiceMethod" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillingCycle" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillingMethod" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BillingType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AccountType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PaymentTerm" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SiteEnd" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>