optimus/optimus-servicehandover/src/main/resources/wsdl/IPC/CustomerData/CustomerPersonalInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://WS.CustomerManagement.com" xmlns:bons0="http://WS.CustomerManagement.com" xmlns:bons1="http://WS.CustomerManagement.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="CustomerHQAddress.xsd"/>
  <xsd:include schemaLocation="CustomerContactDetails.xsd"/>
  <xsd:complexType name="CustomerPersonalInformation">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CustomerContactDetails" type="bons0:CustomerContactDetails"/>
      <xsd:element minOccurs="0" name="CustomerHQAddress" type="bons0:CustomerHQAddress"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>