optimus/optimus-servicehandover/src/main/resources/wsdl/IPC/CustomerData/CustomerContactDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://WS.CustomerManagement.com" xmlns:bons0="http://WS.CustomerManagement.com" xmlns:bons1="http://WS.CustomerManagement.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="CustomerContactDetails">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CntctPersonTitle" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CntctPersonFirstName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CntctPersonLastName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CntctPersonEmailId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CntctPersonLandLineNo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CntctPersonFaxNo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CntctPersonCellPhoneNo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>