optimus/optimus-servicehandover/src/main/resources/wsdl/IPC/CustomerData/CustomerInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://WS.CustomerManagement.com" xmlns:bons0="http://WS.CustomerManagement.com" xmlns:bons1="http://WS.CustomerManagement.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="CustomerHQAddress.xsd"/>
  <xsd:complexType name="CustomerInformation">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CRNId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CustomerName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CustomerHQAddress" type="bons0:CustomerHQAddress"/>
      <xsd:element minOccurs="0" name="SupplierContractingEntity" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>