optimus/optimus-servicehandover/src/main/resources/wsdl/IPC/CustomerData/GetCustomerDetailsOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://WS.CustomerManagement.com" xmlns:bons0="http://WS.CustomerManagement.com" xmlns:bons1="http://WS.CustomerManagement.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="CustomerContactDetails.xsd"/>
  <xsd:include schemaLocation="CustomerDetails.xsd"/>
  <xsd:include schemaLocation="CustomerHQAddress.xsd"/>
  <xsd:include schemaLocation="ResponseHeader.xsd"/>
  <xsd:complexType name="GetCustomerDetailsOutput">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ResponseHeader" type="bons0:ResponseHeader"/>
      <xsd:element minOccurs="0" name="CRNId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CustomerName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CustomerDetails" type="bons0:CustomerDetails"/>
      <xsd:element minOccurs="0" name="CustomerContactDetails" type="bons0:CustomerContactDetails"/>
      <xsd:element minOccurs="0" name="CustomerHQAddress" type="bons0:CustomerHQAddress"/>
      <xsd:element minOccurs="0" name="POSTimestamp" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="AccountingCode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>