optimus/optimus-servicehandover/src/main/resources/wsdl/IPC/CustomerData/GetCustomerGeneralInformationOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://WS.CustomerManagement.com" xmlns:bons0="http://WS.CustomerManagement.com" xmlns:bons1="http://WS.CustomerManagement.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="CustomerPersonalInformation.xsd"/>
  <xsd:include schemaLocation="AccountInformation.xsd"/>
  <xsd:include schemaLocation="ResponseHeader.xsd"/>
  <xsd:complexType name="GetCustomerGeneralInformationOutput">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CustomerName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CRNId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ResponseHeader" type="bons0:ResponseHeader"/>
      <xsd:element minOccurs="0" name="AccountInformation" type="bons0:AccountInformation"/>
      <xsd:element minOccurs="0" name="CustomerPersonalInformation" type="bons0:CustomerPersonalInformation"/>
      <xsd:element minOccurs="0" name="POSTimestamp" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="AccountingCode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>