optimus/optimus-servicehandover/src/main/resources/wsdl/IPC/CustomerData/GetPOSCustomerWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GetPOSCustomerWS" targetNamespace="http://WS.CustomerManagement.com/GetPOSCustomerWS" xmlns:bons2="http://WS.CustomerManagement.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://WS.CustomerManagement.com/GetPOSCustomerWS">
  <wsdl:types>
    <xsd:schema targetNamespace="http://WS.CustomerManagement.com/GetPOSCustomerWS">
      <xsd:import namespace="http://WS.CustomerManagement.com" schemaLocation="GetCustomerOutput.xsd"/>
      <xsd:import namespace="http://WS.CustomerManagement.com" schemaLocation="GetCustomerInput.xsd"/>
      <xsd:import namespace="http://WS.CustomerManagement.com" schemaLocation="GetCustomerGeneralInformationOutput.xsd"/>
      <xsd:import namespace="http://WS.CustomerManagement.com" schemaLocation="GetCustomerGeneralInformationInput.xsd"/>
      <xsd:import namespace="http://WS.CustomerManagement.com" schemaLocation="GetCustomerDetailsOutput.xsd"/>
      <xsd:import namespace="http://WS.CustomerManagement.com" schemaLocation="GetCustomerDetailsInput.xsd"/>
      <xsd:import namespace="http://WS.CustomerManagement.com" schemaLocation="GetCustomerAccountNumberOutput.xsd"/>
      <xsd:import namespace="http://WS.CustomerManagement.com" schemaLocation="GetCustomerAccountNumberInput.xsd"/>
      <xsd:element name="getCustomerAccountNumber">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetCustomerAccountNumberInput" nillable="true" type="bons2:GetCustomerAccountNumberInput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCustomerAccountNumberResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetCustomerAccountNumberOutput" nillable="true" type="bons2:GetCustomerAccountNumberOutput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCustomerDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetCustomerDetailsInput" nillable="true" type="bons2:GetCustomerDetailsInput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCustomerDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetCustomerDetailsOutput" nillable="true" type="bons2:GetCustomerDetailsOutput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCustomerGeneralInformation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetCustomerGeneralInformationInput" nillable="true" type="bons2:GetCustomerGeneralInformationInput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCustomerGeneralInformationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetCustomerGeneralInformationOutput" nillable="true" type="bons2:GetCustomerGeneralInformationOutput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCustomer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetCustomerInput" nillable="true" type="bons2:GetCustomerInput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCustomerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetCustomerOutput" nillable="true" type="bons2:GetCustomerOutput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://WS.CustomerManagement.com"/>
  </wsdl:types>
  <wsdl:message name="getCustomerAccountNumberResponseMsg">
    <wsdl:part name="getCustomerAccountNumberResult" element="tns:getCustomerAccountNumberResponse"/>
  </wsdl:message>
  <wsdl:message name="getCustomerGeneralInformationResponseMsg">
    <wsdl:part name="getCustomerGeneralInformationResult" element="tns:getCustomerGeneralInformationResponse"/>
  </wsdl:message>
  <wsdl:message name="getCustomerDetailsResponseMsg">
    <wsdl:part name="getCustomerDetailsResult" element="tns:getCustomerDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="getCustomerGeneralInformationRequestMsg">
    <wsdl:part name="getCustomerGeneralInformationParameters" element="tns:getCustomerGeneralInformation"/>
  </wsdl:message>
  <wsdl:message name="getCustomerResponseMsg">
    <wsdl:part name="getCustomerResult" element="tns:getCustomerResponse"/>
  </wsdl:message>
  <wsdl:message name="getCustomerRequestMsg">
    <wsdl:part name="getCustomerParameters" element="tns:getCustomer"/>
  </wsdl:message>
  <wsdl:message name="getCustomerDetailsRequestMsg">
    <wsdl:part name="getCustomerDetailsParameters" element="tns:getCustomerDetails"/>
  </wsdl:message>
  <wsdl:message name="getCustomerAccountNumberRequestMsg">
    <wsdl:part name="getCustomerAccountNumberParameters" element="tns:getCustomerAccountNumber"/>
  </wsdl:message>
  <wsdl:portType name="GetPOSCustomerWS">
    <wsdl:operation name="getCustomerAccountNumber">
      <wsdl:input name="getCustomerAccountNumberRequest" message="tns:getCustomerAccountNumberRequestMsg"/>
      <wsdl:output name="getCustomerAccountNumberResponse" message="tns:getCustomerAccountNumberResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="getCustomerDetails">
      <wsdl:input name="getCustomerDetailsRequest" message="tns:getCustomerDetailsRequestMsg"/>
      <wsdl:output name="getCustomerDetailsResponse" message="tns:getCustomerDetailsResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="getCustomerGeneralInformation">
      <wsdl:input name="getCustomerGeneralInformationRequest" message="tns:getCustomerGeneralInformationRequestMsg"/>
      <wsdl:output name="getCustomerGeneralInformationResponse" message="tns:getCustomerGeneralInformationResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="getCustomer">
      <wsdl:input name="getCustomerRequest" message="tns:getCustomerRequestMsg"/>
      <wsdl:output name="getCustomerResponse" message="tns:getCustomerResponseMsg"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>