optimus/optimus-servicehandover/src/main/resources/wsdl/IPC/CustomerData/ResponseHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://WS.CustomerManagement.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ResponseHeader">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Status" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ErrorCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ErrorMessage" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>