optimus/optimus-servicehandover/src/main/resources/wsdl/IPC/CreateOrder/CreateOrderRequestInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CreateOrderInterface" targetNamespace="http://InstaCCLibrary/CreateOrderInterface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://InstaCCLibrary/CreateOrderInterface" xmlns:bons1="http://InstaCCLibrary/BSSEBOs">
  <wsdl:types>
    <xsd:schema targetNamespace="http://InstaCCLibrary/CreateOrderInterface">
      <xsd:import namespace="http://InstaCCLibrary/BSSEBOs" schemaLocation="CreateOrderBO.xsd"/>
      <xsd:import namespace="http://InstaCCLibrary/BSSEBOs" schemaLocation="CreateOrderRequestAckBO.xsd"/>
      <xsd:import namespace="http://InstaCCLibrary/BSSEBOs" schemaLocation="ResponseHeader.xsd"/>
      <xsd:import namespace="http://InstaCCLibrary/BSSEBOs" schemaLocation="CreateOrderResponseBO.xsd"/>
      <xsd:import namespace="http://InstaCCLibrary/BSSEBOs" schemaLocation="CreateOrderRequestBO.xsd"/>
      <xsd:import namespace="http://InstaCCLibrary/BSSEBOs" schemaLocation="ProductCreationResponseBO.xsd"/>
      <xsd:import namespace="http://InstaCCLibrary/BSSEBOs" schemaLocation="ProductCreationRequestBO.xsd"/>
      <xsd:import namespace="http://InstaCCLibrary/BSSEBOs" schemaLocation="AccountCreationResponseBO.xsd"/>
      <xsd:import namespace="http://InstaCCLibrary/BSSEBOs" schemaLocation="AccountCreationRequestBO.xsd"/>
      <xsd:import namespace="http://InstaCCLibrary/BSSEBOs" schemaLocation="ProductCreationOutputBO.xsd"/>
      <xsd:import namespace="http://InstaCCLibrary/BSSEBOs" schemaLocation="ProductCreationInputBO.xsd"/>
      <xsd:import namespace="http://InstaCCLibrary/BSSEBOs" schemaLocation="AccountCreationOutputBO.xsd"/>
      <xsd:import namespace="http://InstaCCLibrary/BSSEBOs" schemaLocation="AccountCreationInputBO.xsd"/>
      <xsd:element name="createOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createOrderRequestInput" nillable="true" type="bons1:CreateOrderBO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createOrderRequestOutput" nillable="true" type="bons1:CreateOrderRequestAckBO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createOrderRequestMsg">
    <wsdl:part name="createOrderParameters" element="tns:createOrder"/>
  </wsdl:message>
  <wsdl:message name="createOrderResponseMsg">
    <wsdl:part name="createOrderResult" element="tns:createOrderResponse"/>
  </wsdl:message>
  <wsdl:portType name="CreateOrderRequestInterface">
    <wsdl:operation name="createOrder">
      <wsdl:input name="createOrderRequest" message="tns:createOrderRequestMsg"/>
      <wsdl:output name="createOrderResponse" message="tns:createOrderResponseMsg"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>