optimus/optimus-servicehandover/src/main/resources/wsdl/IPC/CreateOrder/CreateOrderResponseBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://InstaCCLibrary/BSSEBOs" xmlns:bons0="http://InstaCCLibrary/BSSEBOs" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="ProductCreationOutputBO.xsd"/>
  <xsd:include schemaLocation="AccountCreationOutputBO.xsd"/>
  <xsd:complexType name="CreateOrderResponseBO">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="acc_creation_output" type="bons0:AccountCreationOutputBO"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="prod_creation_output" type="bons0:ProductCreationOutputBO"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>