optimus/optimus-servicehandover/src/main/resources/wsdl/IPC/CreateOrder/CreateOrderRequestAckBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://InstaCCLibrary/BSSEBOs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://InstaCCLibrary/BSSEBOs">
  <xsd:include schemaLocation="ResponseHeader.xsd"/>
  <xsd:complexType name="CreateOrderRequestAckBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="acknowledge" type="bons0:ResponseHeader"/>
      <xsd:element minOccurs="0" name="req_UniqueId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="msgDesc" type="xsd:string"/>
      <xsd:element minOccurs="0" name="field2" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>