optimus/optimus-servicehandover/src/main/resources/wsdl/IPC/CreateOrder/ProductCreationOutputBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://InstaCCLibrary/BSSEBOs" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://InstaCCLibrary/BSSEBOs">
  <xsd:include schemaLocation="ResponseHeader.xsd"/>
  <xsd:complexType name="ProductCreationOutputBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="product_response" type="bons0:ResponseHeader"/>
      <xsd:element minOccurs="0" name="success_message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>