optimus/optimus-servicehandover/src/main/resources/wsdl/IPC/InvoiceData/BSSEResponseObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://WQMSENT/WQMSINT_BSSEGinvoiceOrder_WS.tws" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://WQMSENT/WQMSINT_BSSEGinvoiceOrder_WS.tws" xmlns:intf="http://WQMSENT/WQMSINT_BSSEGinvoiceOrder_WS.tws" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <complexType name="BSSEResponseObject">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="statusCode" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="statusDescription" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="errorCode" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="errorDescription" nillable="false" type="xsd:string"/>
    </sequence>
  </complexType>
</schema>