optimus/optimus-servicehandover/src/main/resources/wsdl/IPC/InvoiceData/BSSEGInvoiceDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://WQMSENT/WQMSINT_BSSEGinvoiceOrder_WS.tws" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://WQMSENT/WQMSINT_BSSEGinvoiceOrder_WS.tws" xmlns:intf="http://WQMSENT/WQMSINT_BSSEGinvoiceOrder_WS.tws" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <complexType name="BSSEGInvoiceDetails">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="customerName" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="segment" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="crnNumber" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="orderStatus" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="serviceType" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="status" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="createdDate" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="modifiedDate" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="createdBy" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="modifiedBy" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="copfId" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="serviceId" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="accountNo" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="cpeAccountNo" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="legalEntity" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="poDate" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="poNumber" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="taskName" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="cpeDeliveryAddress" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="orderType" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="CommissionedDate" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="terminationDate" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="dmsId" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="sfdcOptyId" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="totalArc" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="totalNrc" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="circuitCount" nillable="false" type="xsd:int"/>
      <element maxOccurs="1" minOccurs="0" name="billingCurrency" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="infoCurrency" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="contactPerson" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="source" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="billingAddress" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="accountingCode" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="parentId" nillable="false" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="parentServiceName" nillable="false" type="xsd:string"/>
      <element minOccurs="0" name="cease_Flag" type="string"/>
    </sequence>
  </complexType>
</schema>