optimus/optimus-servicehandover/src/main/resources/wsdl/IPC/InvoiceData/createInvoice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="createInvoice" targetNamespace="http://InstaccBSSE_WQMSInvoiceModule/createInvoice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://InstaccBSSE_WQMSInvoiceModule/createInvoice" xmlns:bons1="http://WQMSENT/WQMSINT_BSSEGinvoiceOrder_WS.tws">
  <wsdl:types>
    <xsd:schema targetNamespace="http://InstaccBSSE_WQMSInvoiceModule/createInvoice">
      <xsd:import namespace="http://WQMSENT/WQMSINT_BSSEGinvoiceOrder_WS.tws" schemaLocation="BSSEResponseObject.xsd"/>
      <xsd:import namespace="http://WQMSENT/WQMSINT_BSSEGinvoiceOrder_WS.tws" schemaLocation="BSSEGInvoiceDetails.xsd"/>
      <xsd:element name="createInvoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="InvoiceRequest" nillable="true" type="bons1:BSSEGInvoiceDetails"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createInvoiceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ackResponse" nillable="true" type="bons1:BSSEResponseObject"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createInvoiceRequestMsg">
    <wsdl:part name="createInvoiceParameters" element="tns:createInvoice"/>
  </wsdl:message>
  <wsdl:message name="createInvoiceResponseMsg">
    <wsdl:part name="createInvoiceResult" element="tns:createInvoiceResponse"/>
  </wsdl:message>
  <wsdl:portType name="createInvoice">
    <wsdl:operation name="createInvoice">
      <wsdl:input name="createInvoiceRequest" message="tns:createInvoiceRequestMsg"/>
      <wsdl:output name="createInvoiceResponse" message="tns:createInvoiceResponseMsg"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>