optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/gethdconfigdetailsasync/GetHDCONFIGDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GetHDCONFIGDetails" targetNamespace="http://ACEIAS_HDCONFIG_Module/GetHDCONFIGDetails" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ACEIAS_HDCONFIG_Module/GetHDCONFIGDetails" xmlns:bons1="http://ACEIAS_HDCONFIG_Module">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ACEIAS_HDCONFIG_Module/GetHDCONFIGDetails">
      <xsd:import namespace="http://ACEIAS_HDCONFIG_Module" schemaLocation="SubmitHDCONFIGFailureResponse.xsd"/>
      <xsd:import namespace="http://ACEIAS_HDCONFIG_Module" schemaLocation="HDAcknowledgement.xsd"/>
      <xsd:import namespace="http://ACEIAS_HDCONFIG_Module" schemaLocation="HDCONFIGDetailsAcknowledgement.xsd"/>
      <xsd:import namespace="http://ACEIAS_HDCONFIG_Module" schemaLocation="HDCONFIGDetails.xsd"/>
      <xsd:element name="getHDCONFIGDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="HDCONFIGDetails" nillable="true" type="bons1:HDCONFIGDetails"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getHDCONFIGDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="HDCONFIGDetailsAck" nillable="true" type="bons1:HDCONFIGDetailsAcknowledgement"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getHDCONFIGDetailsFault1_getHDCONFIGDetailsFault" nillable="true" type="bons1:Acknowledgement"/>
      <xsd:element name="submitHDCONFIGFailureResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SubmitHDCONFIGFailure" nillable="true" type="bons1:SubmitHDCONFIGFailureResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="submitHDCONFIGFailureResponseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SubmitHDCONFIGFailureAck" nillable="true" type="bons1:HDCONFIGDetailsAcknowledgement"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="submitHDCONFIGFailureResponseFault1_submitHDCONFIGFailureResponseFault" nillable="true" type="bons1:Acknowledgement"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getHDCONFIGDetailsResponseMsg">
    <wsdl:part name="getHDCONFIGDetailsResult" element="tns:getHDCONFIGDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="getHDCONFIGDetailsRequestMsg">
    <wsdl:part name="getHDCONFIGDetailsParameters" element="tns:getHDCONFIGDetails"/>
  </wsdl:message>
  <wsdl:message name="submitHDCONFIGFailureResponseResponseMsg">
    <wsdl:part name="submitHDCONFIGFailureResponseResult" element="tns:submitHDCONFIGFailureResponseResponse"/>
  </wsdl:message>
  <wsdl:message name="submitHDCONFIGFailureResponse_submitHDCONFIGFailureResponseFaultMsg">
    <wsdl:part name="submitHDCONFIGFailureResponseFault" element="tns:submitHDCONFIGFailureResponseFault1_submitHDCONFIGFailureResponseFault"/>
  </wsdl:message>
  <wsdl:message name="submitHDCONFIGFailureResponseRequestMsg">
    <wsdl:part name="submitHDCONFIGFailureResponseParameters" element="tns:submitHDCONFIGFailureResponse"/>
  </wsdl:message>
  <wsdl:message name="getHDCONFIGDetails_getHDCONFIGDetailsFaultMsg">
    <wsdl:part name="getHDCONFIGDetailsFault" element="tns:getHDCONFIGDetailsFault1_getHDCONFIGDetailsFault"/>
  </wsdl:message>
  <wsdl:portType name="GetHDCONFIGDetails">
    <wsdl:operation name="getHDCONFIGDetails">
      <wsdl:input name="getHDCONFIGDetailsRequest" message="tns:getHDCONFIGDetailsRequestMsg"/>
      <wsdl:output name="getHDCONFIGDetailsResponse" message="tns:getHDCONFIGDetailsResponseMsg"/>
      <wsdl:fault name="getHDCONFIGDetailsFault" message="tns:getHDCONFIGDetails_getHDCONFIGDetailsFaultMsg"/>
    </wsdl:operation>
    <wsdl:operation name="submitHDCONFIGFailureResponse">
      <wsdl:input name="submitHDCONFIGFailureResponseRequest" message="tns:submitHDCONFIGFailureResponseRequestMsg"/>
      <wsdl:output name="submitHDCONFIGFailureResponseResponse" message="tns:submitHDCONFIGFailureResponseResponseMsg"/>
      <wsdl:fault name="submitHDCONFIGFailureResponseFault" message="tns:submitHDCONFIGFailureResponse_submitHDCONFIGFailureResponseFaultMsg"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>