optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/gethdconfigdetailsasync/HDAttributes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://ACEIAS_HDCONFIG_Module" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="attributes">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="key" type="xsd:string"/>
      <xsd:element minOccurs="0" name="value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>