optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/gethdconfigdetailsasync/SubmitHDCONFIGFailureResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://ACEIAS_HDCONFIG_Module" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ACEIAS_HDCONFIG_Module">
  <xsd:include schemaLocation="HDCONFIGAttrs.xsd"/>
  <xsd:include schemaLocation="HDCONFIGFailureResponse.xsd"/>
  <xsd:complexType name="SubmitHDCONFIGFailureResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="requestID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="serviceID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="oldServiceID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="scenarioType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="HDCONFIGFailureResponse" type="bons0:HDCONFIGFailureResponse"/>
      <xsd:element minOccurs="0" name="extraAttrs" type="bons0:HDCONFIGAttrs"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>