optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/CramerIPServiceSyncWSDL.wsdl

<definitions name='CramerIPServices' targetNamespace='http://com.tatacommunications.cramer.ace.service.ws.CramerIPServices' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://com.tatacommunications.cramer.ace.service.ws.CramerIPServices' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://com.tatacommunications.cramer.ace.service.ws.CramerIPServices' version='1.0' xmlns:tns='http://com.tatacommunications.cramer.ace.service.ws.CramerIPServices' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='SetCLRFault' type='tns:SetCLRFault'/>
   <xs:element name='assignDummyWANIP' type='tns:assignDummyWANIP'/>
   <xs:element name='assignDummyWANIPFault' type='tns:AssignDummyWANIPFault'/>
   <xs:element name='assignDummyWANIPResponse' type='tns:assignDummyWANIPResponse'/>
   <xs:element name='getIPServiceInfo' type='tns:getIPServiceInfo'/>
   <xs:element name='getIPServiceInfoFault' type='tns:GetIPServiceInfoFault'/>
   <xs:element name='getIPServiceInfoResponse' type='tns:getIPServiceInfoResponse'/>
   <xs:element name='getIRSRouterInfo' type='tns:getIRSRouterInfo'/>
   <xs:element name='getIRSRouterInfoFault' type='tns:GetIRSRouterInfoFault'/>
   <xs:element name='getIRSRouterInfoResponse' type='tns:getIRSRouterInfoResponse'/>
   <xs:element name='releaseDummyWANIP' type='tns:releaseDummyWANIP'/>
   <xs:element name='releaseDummyWANIPFault' type='tns:ReleaseDummyWANIPFault'/>
   <xs:element name='releaseDummyWANIPResponse' type='tns:releaseDummyWANIPResponse'/>
   <xs:element name='setCLR' type='tns:setCLR'/>
   <xs:element name='setCLRResponse' type='tns:setCLRResponse'/>
   <xs:complexType name='releaseDummyWANIP'>
    <xs:sequence>
     <xs:element minOccurs='0' name='header' type='tns:cramerServiceHeader'/>
     <xs:element minOccurs='0' name='ServiceID' type='xs:string'/>
     <xs:element minOccurs='0' name='VPNID' type='xs:string'/>
     <xs:element minOccurs='0' name='WANIPAddress' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='cramerServiceHeader'>
    <xs:sequence>
     <xs:element minOccurs='0' name='authUser' type='xs:string'/>
     <xs:element minOccurs='0' name='ClientSystemIP' type='xs:string'/>
     <xs:element minOccurs='0' name='originatingSystem' type='xs:string'/>
     <xs:element minOccurs='0' name='originationTime' type='xs:string'/>
     <xs:element minOccurs='0' name='RequestID' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='releaseDummyWANIPResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:ReleaseDummyWANIPResponse'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='ReleaseDummyWANIPResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='ack' type='tns:cramerIPServiceRequestAck'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='cramerIPServiceRequestAck'>
    <xs:sequence>
     <xs:element minOccurs='0' name='RequestID' type='xs:string'/>
     <xs:element minOccurs='0' name='RequestRecievedDateTime' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='ServiceID' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='ReleaseDummyWANIPFault'>
    <xs:sequence>
     <xs:element minOccurs='0' name='errorCode' type='xs:string'/>
     <xs:element minOccurs='0' name='errorLongDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='errorShortDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='message' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='suppressed' type='tns:throwable'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='throwable'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='stackTrace' nillable='true' type='tns:stackTraceElement'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType final='extension restriction' name='stackTraceElement'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='getIPServiceInfo'>
    <xs:sequence>
     <xs:element minOccurs='0' name='header' type='tns:cramerServiceHeader'/>
     <xs:element minOccurs='0' name='ServiceID' type='xs:string'/>
     <xs:element minOccurs='0' name='serviceType' type='xs:string'/>
     <xs:element minOccurs='0' name='VPNID' type='xs:string'/>
     <xs:element minOccurs='0' name='RelationshipType' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getIPServiceInfoResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:IPServiceInfoResponse'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='IPServiceInfoResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='ack' type='tns:cramerIPServiceRequestAck'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='GetIPServiceInfoFault'>
    <xs:sequence>
     <xs:element minOccurs='0' name='errorCode' type='xs:string'/>
     <xs:element minOccurs='0' name='errorLongDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='errorShortDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='message' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='suppressed' type='tns:throwable'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='assignDummyWANIP'>
    <xs:sequence>
     <xs:element minOccurs='0' name='header' type='tns:cramerServiceHeader'/>
     <xs:element minOccurs='0' name='ServiceID' type='xs:string'/>
     <xs:element minOccurs='0' name='VPNID' type='xs:string'/>
     <xs:element minOccurs='0' name='lastmileType' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='assignDummyWANIPResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:AssignDummyWANIPResponse'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='AssignDummyWANIPResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='ack' type='tns:cramerIPServiceRequestAck'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='AssignDummyWANIPFault'>
    <xs:sequence>
     <xs:element minOccurs='0' name='errorCode' type='xs:string'/>
     <xs:element minOccurs='0' name='errorLongDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='errorShortDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='message' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='suppressed' type='tns:throwable'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='setCLR'>
    <xs:sequence>
     <xs:element minOccurs='0' name='header' type='tns:cramerServiceHeader'/>
     <xs:element minOccurs='0' name='objectType' type='tns:objectType'/>
     <xs:element minOccurs='0' name='objectName' type='xs:string'/>
     <xs:element minOccurs='0' name='initialRelationship' type='tns:initialRelationShip'/>
     <xs:element minOccurs='0' name='finalRelationship' type='tns:finalRelationShip'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='setCLRResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='result' type='tns:SetClrResponse'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='SetClrResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='ack' type='tns:cramerIPServiceRequestAck'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='SetCLRFault'>
    <xs:sequence>
     <xs:element minOccurs='0' name='errorCode' type='xs:string'/>
     <xs:element minOccurs='0' name='errorLongDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='errorShortDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='message' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='suppressed' type='tns:throwable'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getIRSRouterInfo'>
    <xs:sequence>
     <xs:element minOccurs='0' name='PERouter' type='xs:string'/>
     <xs:element minOccurs='0' name='requestID' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getIRSRouterInfoResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:irsRouterInfoResponse'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='irsRouterInfoResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='IRSLoopbackIP' type='xs:string'/>
     <xs:element minOccurs='0' name='IRSRouter' type='tns:irsRouter'/>
     <xs:element minOccurs='0' name='requestID' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='irsRouter'>
    <xs:sequence>
     <xs:element minOccurs='0' name='hostname' type='xs:string'/>
     <xs:element minOccurs='0' name='loopbackIP' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='GetIRSRouterInfoFault'>
    <xs:sequence>
     <xs:element minOccurs='0' name='errorCode' type='xs:string'/>
     <xs:element minOccurs='0' name='errorLongDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='errorShortDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='message' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='suppressed' type='tns:throwable'/>
    </xs:sequence>
   </xs:complexType>
   <xs:simpleType name='objectType'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='SERVICE'/>
     <xs:enumeration value='CIRCUIT'/>
     <xs:enumeration value='IOR'/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name='initialRelationShip'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='ACTIVE'/>
     <xs:enumeration value='ISSUED'/>
     <xs:enumeration value='MARKEDFORDELETE'/>
    </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name='finalRelationShip'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='ACTIVE'/>
     <xs:enumeration value='ISSUED'/>
     <xs:enumeration value='MARKEDFORDELETE'/>
     <xs:enumeration value='TERMINATE'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:schema>
 </types>
 <message name='CramerIPServices_getIRSRouterInfo'>
  <part element='tns:getIRSRouterInfo' name='getIRSRouterInfo'></part>
 </message>
 <message name='CramerIPServices_getIRSRouterInfoResponse'>
  <part element='tns:getIRSRouterInfoResponse' name='getIRSRouterInfoResponse'></part>
 </message>
 <message name='getIRSRouterInfoFault'>
  <part element='tns:getIRSRouterInfoFault' name='getIRSRouterInfoFault'></part>
 </message>
 <message name='SetCLRFault'>
  <part element='tns:SetCLRFault' name='SetCLRFault'></part>
 </message>
 <message name='CramerIPServices_assignDummyWANIP'>
  <part element='tns:assignDummyWANIP' name='assignDummyWANIP'></part>
 </message>
 <message name='CramerIPServices_getIPServiceInfo'>
  <part element='tns:getIPServiceInfo' name='getIPServiceInfo'></part>
 </message>
 <message name='CramerIPServices_setCLRResponse'>
  <part element='tns:setCLRResponse' name='setCLRResponse'></part>
 </message>
 <message name='CramerIPServices_setCLR'>
  <part element='tns:setCLR' name='setCLR'></part>
 </message>
 <message name='assignDummyWANIPFault'>
  <part element='tns:assignDummyWANIPFault' name='assignDummyWANIPFault'></part>
 </message>
 <message name='getIPServiceInfoFault'>
  <part element='tns:getIPServiceInfoFault' name='getIPServiceInfoFault'></part>
 </message>
 <message name='CramerIPServices_releaseDummyWANIPResponse'>
  <part element='tns:releaseDummyWANIPResponse' name='releaseDummyWANIPResponse'></part>
 </message>
 <message name='CramerIPServices_assignDummyWANIPResponse'>
  <part element='tns:assignDummyWANIPResponse' name='assignDummyWANIPResponse'></part>
 </message>
 <message name='CramerIPServices_releaseDummyWANIP'>
  <part element='tns:releaseDummyWANIP' name='releaseDummyWANIP'></part>
 </message>
 <message name='CramerIPServices_getIPServiceInfoResponse'>
  <part element='tns:getIPServiceInfoResponse' name='getIPServiceInfoResponse'></part>
 </message>
 <message name='releaseDummyWANIPFault'>
  <part element='tns:releaseDummyWANIPFault' name='releaseDummyWANIPFault'></part>
 </message>
 <portType name='CramerIPServices'>
  <operation name='assignDummyWANIP' parameterOrder='assignDummyWANIP'>
   <input message='tns:CramerIPServices_assignDummyWANIP'></input>
   <output message='tns:CramerIPServices_assignDummyWANIPResponse'></output>
   <fault message='tns:assignDummyWANIPFault' name='assignDummyWANIPFault'></fault>
  </operation>
  <operation name='getIPServiceInfo' parameterOrder='getIPServiceInfo'>
   <input message='tns:CramerIPServices_getIPServiceInfo'></input>
   <output message='tns:CramerIPServices_getIPServiceInfoResponse'></output>
   <fault message='tns:getIPServiceInfoFault' name='getIPServiceInfoFault'></fault>
  </operation>
  <operation name='getIRSRouterInfo' parameterOrder='getIRSRouterInfo'>
   <input message='tns:CramerIPServices_getIRSRouterInfo'></input>
   <output message='tns:CramerIPServices_getIRSRouterInfoResponse'></output>
   <fault message='tns:getIRSRouterInfoFault' name='getIRSRouterInfoFault'></fault>
  </operation>
  <operation name='releaseDummyWANIP' parameterOrder='releaseDummyWANIP'>
   <input message='tns:CramerIPServices_releaseDummyWANIP'></input>
   <output message='tns:CramerIPServices_releaseDummyWANIPResponse'></output>
   <fault message='tns:releaseDummyWANIPFault' name='releaseDummyWANIPFault'></fault>
  </operation>
  <operation name='setCLR' parameterOrder='setCLR'>
   <input message='tns:CramerIPServices_setCLR'></input>
   <output message='tns:CramerIPServices_setCLRResponse'></output>
   <fault message='tns:SetCLRFault' name='SetCLRFault'></fault>
  </operation>
 </portType>
 <binding name='CramerIPServicesBinding' type='tns:CramerIPServices'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='assignDummyWANIP'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='assignDummyWANIPFault'>
    <soap:fault name='assignDummyWANIPFault' use='literal'/>
   </fault>
  </operation>
  <operation name='getIPServiceInfo'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='getIPServiceInfoFault'>
    <soap:fault name='getIPServiceInfoFault' use='literal'/>
   </fault>
  </operation>
  <operation name='getIRSRouterInfo'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='getIRSRouterInfoFault'>
    <soap:fault name='getIRSRouterInfoFault' use='literal'/>
   </fault>
  </operation>
  <operation name='releaseDummyWANIP'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='releaseDummyWANIPFault'>
    <soap:fault name='releaseDummyWANIPFault' use='literal'/>
   </fault>
  </operation>
  <operation name='setCLR'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='SetCLRFault'>
    <soap:fault name='SetCLRFault' use='literal'/>
   </fault>
  </operation>
 </binding>
 <service name='CramerIPServices'>
  <port binding='tns:CramerIPServicesBinding' name='CramerIPServicesPort'>
   <soap:address location='http://uswv1vuap003a.vsnl.co.in:8080/ACE_IP/CramerIPServices'/>
  </port>
 </service>
</definitions>