optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/DownTimeWS.wsdl

<definitions name='DownTimeWS' targetNamespace='http://cramerserviceslibrary/csvc/wsdl/v1/downtime' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://cramerserviceslibrary/csvc/wsdl/v1/downtime' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://cramerserviceslibrary/csvc/wsdl/v1/downtime' version='1.0' xmlns:tns='http://cramerserviceslibrary/csvc/wsdl/v1/downtime' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='ServiceFault' type='tns:ServiceFault'/>
   <xs:element name='checkDownTime' type='tns:checkDownTime'/>
   <xs:element name='checkDownTimeResponse' type='tns:checkDownTimeResponse'/>
   <xs:complexType name='checkDownTime'>
    <xs:sequence>
     <xs:element minOccurs='0' name='ServiceId' type='xs:string'/>
     <xs:element minOccurs='0' name='RequestId' type='xs:string'/>
     <xs:element minOccurs='0' name='RequestingSystem' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='checkDownTimeResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='downTimeResponse' type='tns:downTimeRequiredResponse'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='downTimeRequiredResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='Ack' type='tns:acknowledgement'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='acknowledgement'>
    <xs:sequence>
     <xs:element minOccurs='0' name='RequestID' type='xs:string'/>
     <xs:element minOccurs='0' name='ServiceID' type='xs:string'/>
     <xs:element name='Status' type='xs:boolean'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='ServiceFault'>
    <xs:sequence>
     <xs:element minOccurs='0' name='errorCode' type='xs:string'/>
     <xs:element minOccurs='0' name='errorLongDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='errorShortDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='message' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='suppressed' type='tns:throwable'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='throwable'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='stackTrace' nillable='true' type='tns:stackTraceElement'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType final='extension restriction' name='stackTraceElement'>
    <xs:sequence/>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='DownTimeWS_checkDownTimeResponse'>
  <part element='tns:checkDownTimeResponse' name='checkDownTimeResponse'></part>
 </message>
 <message name='DownTimeWS_checkDownTime'>
  <part element='tns:checkDownTime' name='checkDownTime'></part>
 </message>
 <message name='ServiceFault'>
  <part element='tns:ServiceFault' name='ServiceFault'></part>
 </message>
 <portType name='DownTimeWS'>
  <operation name='checkDownTime' parameterOrder='checkDownTime'>
   <input message='tns:DownTimeWS_checkDownTime'></input>
   <output message='tns:DownTimeWS_checkDownTimeResponse'></output>
   <fault message='tns:ServiceFault' name='ServiceFault'></fault>
  </operation>
 </portType>
 <binding name='DownTimeWSBinding' type='tns:DownTimeWS'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='checkDownTime'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='ServiceFault'>
    <soap:fault name='ServiceFault' use='literal'/>
   </fault>
  </operation>
 </binding>
 <service name='DownTimeWS'>
  <port binding='tns:DownTimeWSBinding' name='DownTimeWSPort'>
   <soap:address location='http://uswv1vuap003a.vsnl.co.in:8080/Ace_E2E/DownTimeWS.cnms'/>
  </port>
 </service>
</definitions>