optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/ServiceDesign.wsdl

<definitions name='ServiceDesign' targetNamespace='http://cramerserviceslibrary/csvc/wsdl/v2/inventorycreation/clr' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://cramerserviceslibrary/csvc/wsdl/v2/inventorycreation/clr' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://cramerserviceslibrary/csvc/wsdl/v2/inventorycreation/clr' version='1.0' xmlns:tns='http://cramerserviceslibrary/csvc/wsdl/v2/inventorycreation/clr' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='ServiceFault' type='tns:ServiceFault'/>
   <xs:element name='initiateCLRCreation' type='tns:initiateCLRCreation'/>
   <xs:element name='initiateCLRCreationResponse' type='tns:initiateCLRCreationResponse'/>
   <xs:complexType name='initiateCLRCreation'>
    <xs:sequence>
     <xs:element minOccurs='0' name='SERVICEID' type='xs:string'/>
     <xs:element minOccurs='0' name='SERVICETYPE' type='xs:string'/>
     <xs:element minOccurs='0' name='ScenarioType' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='ListOfFeasibilityId' type='xs:string'/>
     <xs:element minOccurs='0' name='COPFID' type='xs:string'/>
     <xs:element minOccurs='0' name='RequestID' type='xs:string'/>
     <xs:element minOccurs='0' name='orderDetails' type='tns:orderDetails'/>
     <xs:element minOccurs='0' name='a_EndDetails' type='tns:endDetails'/>
     <xs:element minOccurs='0' name='z_EndDetails' type='tns:endDetails'/>
     <xs:element minOccurs='0' name='a_Prot_Offnet_IfaceDtls' type='tns:protOffnetIfaceDtls'/>
     <xs:element minOccurs='0' name='z_Prot_Offnet_IfaceDtls' type='tns:protOffnetIfaceDtls'/>
     <xs:element minOccurs='0' name='a_Wrkr_Offnet_IfaceDtls' type='tns:wrkrOffnetIfaceDtls'/>
     <xs:element minOccurs='0' name='z_Wrkr_Offnet_IfaceDtls' type='tns:wrkrOffnetIfaceDtls'/>
     <xs:element minOccurs='0' name='UCC_Serv_dtls' type='tns:uccServDetails'/>
     <xs:element minOccurs='0' name='UA_Applicable' type='tns:uaApplicable'/>
     <xs:element minOccurs='0' name='EHS_Service' type='xs:string'/>
     <xs:element minOccurs='0' name='clr_Design_Dtls' type='tns:clrDesignDtls'/>
     <xs:element minOccurs='0' name='IPServiceAttributes' type='tns:ipServiceAttributes'/>
     <xs:element minOccurs='0' name='AdditionalAttributes' type='tns:additionalAttr'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='orderDetails'>
    <xs:sequence>
     <xs:element minOccurs='0' name='BANDWIDTH_UNIT' type='xs:string'/>
     <xs:element minOccurs='0' name='BANDWIDTH_VALUE' type='xs:string'/>
     <xs:element minOccurs='0' name='COVERAGE' type='xs:string'/>
     <xs:element minOccurs='0' name='CUSTOMER_NAME' type='xs:string'/>
     <xs:element minOccurs='0' name='OrderType' type='xs:string'/>
     <xs:element name='PRERESERVED' type='xs:boolean'/>
     <xs:element minOccurs='0' name='RequestType' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='endDetails'>
    <xs:sequence>
     <xs:element minOccurs='0' name='CITY' type='xs:string'/>
     <xs:element minOccurs='0' name='INTERFACE' type='xs:string'/>
     <xs:element name='ISMODIFIED' type='xs:boolean'/>
     <xs:element name='NODEID_W' type='xs:long'/>
     <xs:element minOccurs='0' name='NODE_W' type='xs:string'/>
     <xs:element minOccurs='0' name='ONNET' type='xs:boolean'/>
     <xs:element minOccurs='0' name='Topology' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='protOffnetIfaceDtls'>
    <xs:sequence>
     <xs:element name='PORTID_S' type='xs:long'/>
     <xs:element minOccurs='0' name='PORT_S' type='xs:string'/>
     <xs:element minOccurs='0' name='timeslot' type='tns:timeSlot'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='timeSlot'>
    <xs:sequence>
     <xs:element minOccurs='0' name='AU4_S' type='xs:string'/>
     <xs:element minOccurs='0' name='KLM_S' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='wrkrOffnetIfaceDtls'>
    <xs:sequence>
     <xs:element minOccurs='0' name='OFFNET_PROVIDER' type='xs:string'/>
     <xs:element name='PORTID_W' type='xs:long'/>
     <xs:element minOccurs='0' name='PORT_W' type='xs:string'/>
     <xs:element name='PROVIDER_NODEID' type='xs:long'/>
     <xs:element minOccurs='0' name='timeslot' type='tns:timeSlot'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='uccServDetails'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='UCC_Service' type='tns:uccService'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='uccService'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='Attribute' type='tns:attributes'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='attributes'>
    <xs:sequence>
     <xs:element minOccurs='0' name='key' type='xs:string'/>
     <xs:element minOccurs='0' name='value' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='uaApplicable'>
    <xs:sequence>
     <xs:element minOccurs='0' name='Unified_Access_Require' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='clrDesignDtls'>
    <xs:sequence>
     <xs:element minOccurs='0' name='ILD_Dtls' type='tns:ildDtls'/>
     <xs:element name='MAXHOP' type='xs:long'/>
     <xs:element minOccurs='0' name='NLD_Dtls' type='tns:nldDtls'/>
     <xs:element name='PRIMARYSECONDARY' type='xs:boolean'/>
     <xs:element name='USEHANGINGNTWKCIRCUITS' type='xs:boolean'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='ildDtls'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='CABLE_STATION' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='EXTENSION_CABLE' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='MAIN_CABLE' type='xs:string'/>
     <xs:element minOccurs='0' name='STATIC_PROTECTION' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='nldDtls'>
    <xs:sequence>
     <xs:element name='ALLOWEDTIER1HOPS' type='xs:long'/>
     <xs:element name='ALLOW_TTSL_NODES' type='xs:boolean'/>
     <xs:element minOccurs='0' name='EgressNode' type='xs:string'/>
     <xs:element minOccurs='0' name='IngressNode' type='xs:string'/>
     <xs:element minOccurs='0' name='OTHER_SEGMENT' type='xs:string'/>
     <xs:element minOccurs='0' name='TIER1_TO_TIER1' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='ipServiceAttributes'>
    <xs:sequence>
     <xs:element minOccurs='0' name='additional_lan_v6_pool_size' type='xs:string'/>
     <xs:element name='IsBFDEnabled' type='xs:boolean'/>
     <xs:element minOccurs='0' name='Base_IP_address_arrangement' type='xs:string'/>
     <xs:element minOccurs='0' name='Base_PathType' type='xs:string'/>
     <xs:element minOccurs='0' name='BaseRate' type='xs:string'/>
     <xs:element minOccurs='0' name='BaseRateUnit' type='xs:string'/>
     <xs:element minOccurs='0' name='BaseRate_NonStd' type='xs:string'/>
     <xs:element minOccurs='0' name='BTSIP' type='xs:string'/>
     <xs:element minOccurs='0' name='BurstRate' type='xs:string'/>
     <xs:element minOccurs='0' name='BurstRateUnit' type='xs:string'/>
     <xs:element minOccurs='0' name='BurstRate_NonStd' type='xs:string'/>
     <xs:element minOccurs='0' name='CUID' type='xs:string'/>
     <xs:element minOccurs='0' name='CustomerRequirement' type='xs:string'/>
     <xs:element minOccurs='0' name='CustomerType' type='xs:string'/>
     <xs:element name='CustomerWANIPSpecified' type='xs:boolean'/>
     <xs:element minOccurs='0' name='default_lan_v4_pool_size' type='xs:string'/>
     <xs:element minOccurs='0' name='default_lan_v6_pool_size' type='xs:string'/>
     <xs:element name='isExtendedLAN' type='xs:boolean'/>
     <xs:element name='IsExtendedLanChanged' type='xs:boolean'/>
     <xs:element minOccurs='0' name='IP_address_arrangement' type='xs:string'/>
     <xs:element name='IsIpPathTypeChanged' type='xs:boolean'/>
     <xs:element minOccurs='0' name='IpPoolTypeRequired' type='xs:string'/>
     <xs:element minOccurs='0' name='Is_addtional_lan_v6_rqrd' type='xs:string'/>
     <xs:element name='isLANIPCustProvided' type='xs:boolean'/>
     <xs:element minOccurs='0' name='LANIP' type='xs:string'/>
     <xs:element minOccurs='0' name='LAN_provided_by_Customer' type='xs:string'/>
     <xs:element minOccurs='0' name='LastMileInterface' type='xs:string'/>
     <xs:element minOccurs='0' name='LINKTYPE' type='xs:string'/>
     <xs:element name='IsLMTypeChanged' type='xs:boolean'/>
     <xs:element minOccurs='0' name='Master_VRF_ServiceId' type='xs:string'/>
     <xs:element name='IsMultiCastIPRequired' type='xs:boolean'/>
     <xs:element name='IsMultiCosRequired' type='xs:boolean'/>
     <xs:element name='Multi_VRF_Flag' type='xs:boolean'/>
     <xs:element name='Multi_VRF_Solution' type='xs:boolean'/>
     <xs:element minOccurs='0' name='Multilink' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='Multilink_Loadbalancing_ServiceIDs' type='xs:string'/>
     <xs:element minOccurs='0' name='NatNMSPoolRequired' type='xs:string'/>
     <xs:element minOccurs='0' name='NetworkCompType' type='xs:string'/>
     <xs:element minOccurs='0' name='NNIID' type='xs:string'/>
     <xs:element minOccurs='0' name='NNIType' type='xs:string'/>
     <xs:element minOccurs='0' name='No_Of_VRFs' type='xs:string'/>
     <xs:element name='IsNonRoutablePoolRequired' type='xs:boolean'/>
     <xs:element minOccurs='0' name='Nos_LAN_IP_Required' type='xs:string'/>
     <xs:element minOccurs='0' name='number_of_addtnl_lan_v6_pool' type='xs:string'/>
     <xs:element minOccurs='0' name='NumberOfIpAddresses' type='xs:string'/>
     <xs:element minOccurs='0' name='OldServiceId' type='xs:string'/>
     <xs:element minOccurs='0' name='PathType' type='xs:string'/>
     <xs:element minOccurs='0' name='PortBandwidth' type='xs:string'/>
     <xs:element minOccurs='0' name='PortBandwidthUnit' type='xs:string'/>
     <xs:element minOccurs='0' name='PortBandwidth_NonStd' type='xs:string'/>
     <xs:element minOccurs='0' name='Pri_Sec_Mapping' type='xs:string'/>
     <xs:element minOccurs='0' name='ProcessId' type='xs:long'/>
     <xs:element minOccurs='0' name='Provider' type='xs:string'/>
     <xs:element minOccurs='0' name='Role' type='xs:string'/>
     <xs:element name='IsRoutableToNonRoutable' type='xs:boolean'/>
     <xs:element minOccurs='0' name='RoutingProtocol' type='xs:string'/>
     <xs:element minOccurs='0' name='SAPID' type='xs:string'/>
     <xs:element minOccurs='0' name='SectorID' type='xs:string'/>
     <xs:element minOccurs='0' name='ServiceCategory' type='xs:string'/>
     <xs:element minOccurs='0' name='ServiceLink' type='xs:string'/>
     <xs:element minOccurs='0' name='ServiceOption' type='xs:string'/>
     <xs:element name='IsServiceOptionChanged' type='xs:boolean'/>
     <xs:element minOccurs='0' name='ServiceOrder' type='xs:string'/>
     <xs:element minOccurs='0' name='SharedCPE' type='xs:string'/>
     <xs:element name='SharedCPERequired' type='xs:boolean'/>
     <xs:element minOccurs='0' name='SharedLM' type='xs:string'/>
     <xs:element name='SharedLMRequired' type='xs:boolean'/>
     <xs:element minOccurs='0' name='TclPopCity' type='xs:string'/>
     <xs:element minOccurs='0' name='Total_VRF_Bandwidth' type='xs:string'/>
     <xs:element minOccurs='0' name='TYPE_OF_PEPLINK' type='xs:string'/>
     <xs:element minOccurs='0' name='UniquePopId' type='xs:string'/>
     <xs:element minOccurs='0' name='VLAN_LM' type='xs:string'/>
     <xs:element name='IsVRFLiteRequired' type='xs:boolean'/>
     <xs:element minOccurs='0' name='ASNumber' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='additionalAttr'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='Attributes' type='tns:attributes'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='initiateCLRCreationResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='clrCreationResult' type='tns:serviceDesignResponse'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='serviceDesignResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='Ack' type='tns:acknowledgement'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='acknowledgement'>
    <xs:sequence>
     <xs:element minOccurs='0' name='RequestID' type='xs:string'/>
     <xs:element minOccurs='0' name='ServiceID' type='xs:string'/>
     <xs:element name='Status' type='xs:boolean'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='ServiceFault'>
    <xs:sequence>
     <xs:element minOccurs='0' name='errorCode' type='xs:string'/>
     <xs:element minOccurs='0' name='errorLongDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='errorShortDescription' type='xs:string'/>
     <xs:element minOccurs='0' name='message' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='suppressed' type='tns:throwable'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='throwable'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='stackTrace' nillable='true' type='tns:stackTraceElement'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType final='extension restriction' name='stackTraceElement'>
    <xs:sequence/>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='ServiceDesign_initiateCLRCreation'>
  <part element='tns:initiateCLRCreation' name='initiateCLRCreation'></part>
 </message>
 <message name='ServiceFault'>
  <part element='tns:ServiceFault' name='ServiceFault'></part>
 </message>
 <message name='ServiceDesign_initiateCLRCreationResponse'>
  <part element='tns:initiateCLRCreationResponse' name='initiateCLRCreationResponse'></part>
 </message>
 <portType name='ServiceDesign'>
  <operation name='initiateCLRCreation' parameterOrder='initiateCLRCreation'>
   <input message='tns:ServiceDesign_initiateCLRCreation'></input>
   <output message='tns:ServiceDesign_initiateCLRCreationResponse'></output>
   <fault message='tns:ServiceFault' name='ServiceFault'></fault>
  </operation>
 </portType>
 <binding name='ServiceDesignBinding' type='tns:ServiceDesign'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='initiateCLRCreation'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
   <fault name='ServiceFault'>
    <soap:fault name='ServiceFault' use='literal'/>
   </fault>
  </operation>
 </binding>
 <service name='ServiceDesign'>
  <port binding='tns:ServiceDesignBinding' name='ServiceDesignPort'>
   <soap:address location='http://uswv1vuap003a.vsnl.co.in:8080/Ace_E2E/ServiceDesign.cnms'/>
  </port>
 </service>
</definitions>