optimus/optimus-serviceactivation/src/main/resources/wsdl/netp/NetPResponse.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="NetPCsvc" targetNamespace="http://www.tcl.com/v1/netpresponse/inf" xmlns:bons0="http://www.tcl.com/v1/netpsvc/inf" xmlns:bons1="http://www.tcl.com/2011/11/netpsvc/xsd" xmlns:tns="http://www.tcl.com/v1/netpresponse/inf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://www.tcl.com/v1/netpresponse/inf" xmlns:bons0="http://www.tcl.com/v1/netpresponse/inf">
      <xsd:import namespace="http://www.tcl.com/2011/11/netpsvc/xsd"/>
      <xsd:element name="submitAck">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" nillable="true" type="bons1:ConfigAcknowledgement"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="submitSuccessResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" nillable="true" type="bons1:ConfigSuccessResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="submitFailureResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" nillable="true" type="bons1:ConfigFailureResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.tcl.com/2011/11/netpsvc/xsd" xmlns:bons0="http://www.tcl.com/2011/11/ace/common/xsd">
            <xsd:import namespace="http://www.tcl.com/2011/11/ace/common/xsd"/>
        <xsd:complexType name="ConfigAcknowledgement">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="serviceId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="requestId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="requestReceived" type="xsd:dateTime">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:complexType name="ConfigSuccessResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="serviceId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="requestId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="requestCompletionTime" type="xsd:dateTime">
			</xsd:element>
			<xsd:element minOccurs="0" name="actionPerformed" type="bons0:ActionPerformed">
			</xsd:element>

			<xsd:element minOccurs="0" name="pathOfOutputFile" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="cancellationInitiatedBy" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:complexType name="ErrorDetails">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="errorCode" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="errorShortDescription" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="errorLongDescription" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:complexType name="ConfigFailureResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="serviceId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="requestId" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="actionPerformed" type="bons0:ActionPerformed">
			</xsd:element>
			<xsd:element minOccurs="0" name="errorGenerationTime" type="xsd:dateTime">
			</xsd:element>
			<xsd:element minOccurs="0" name="pathOfOutputFile" type="xsd:string">
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="errorDetails" type="bons1:ErrorDetails">
			</xsd:element>


		</xsd:sequence>
	</xsd:complexType>
    </xsd:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.tcl.com/2011/11/ace/common/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:simpleType name="ActionPerformed">
		<xs:annotation>

			<xs:documentation>
				SYNC : Future use. This is for activation engine to load
				the data from the network. CONFIG : Activation engine to
				configure the service in the network SAVE : Activation
				engine to save the configuration. Will be used for IP
				services in case of Preview functionality CANCEL :
				Activation engine to cancel the request which was under
				preview mode CPE_PROV_CONFIG : This value is used for
				CPE configuration requests. PE_PROV_CONFIG : This is
				used for initial PE configuration.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">

















































































			<xs:enumeration value="SYNC"/>
			<xs:enumeration value="CONFIG"/>
			<xs:enumeration value="SAVE"/>
			<xs:enumeration value="CANCEL"/>
			<xs:enumeration value="CPE_PROV_CONFIG"/>
			<xs:enumeration value="PE_PROV_CONFIG"/>
			<xs:enumeration value="CPE_PROV_SAVE"/>
			<xs:enumeration value="PE_PROV_SAVE"/>
			<xs:enumeration value="MODIFY_SAVE"/>
			<xs:enumeration value="MODIFY_CONFIG"/>
			<xs:enumeration value="BLOCK"/>
			<xs:enumeration value="UNBLOCK"/>
			<xs:enumeration value="TERMINATE"/>
			<xs:enumeration value="POST_VALIDATION"/>
			<xs:enumeration value="PREVIEW"/>
		</xs:restriction>
	</xs:simpleType>
    </xs:schema>
    </wsdl:types>
    <wsdl:message name="submitAckRequestMsg">
    <wsdl:part element="tns:submitAck" name="submitAckParameters"/>
  </wsdl:message>
    <wsdl:message name="submitSuccessResponseRequestMsg">
    <wsdl:part element="tns:submitSuccessResponse" name="submitSuccessResponseParameters"/>
  </wsdl:message>
    <wsdl:message name="submitFailureResponseRequestMsg">
    <wsdl:part element="tns:submitFailureResponse" name="submitFailureResponseParameters"/>
  </wsdl:message>
    <wsdl:portType name="NetPResponse">
    <wsdl:operation name="submitAck">
      <wsdl:input message="tns:submitAckRequestMsg" name="submitAckRequest"/>
    </wsdl:operation>
    <wsdl:operation name="submitSuccessResponse">
      <wsdl:input message="tns:submitSuccessResponseRequestMsg" name="submitSuccessResponseRequest"/>
    </wsdl:operation>
    <wsdl:operation name="submitFailureResponse">
      <wsdl:input message="tns:submitFailureResponseRequestMsg" name="submitFailureResponseRequest"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>