optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/createclrasync/CLRCreationDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ACE_CLRCreation_Module" xmlns:bons0="http://ACE_CLRCreation_Module" xmlns:bons1="http://ACE_CLRCreation_Module" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="ClrAttrs.xsd"/>
  <xsd:complexType name="CLRCreationDetails">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="requestID" type="xsd:string"/>
      <xsd:element minOccurs="1" name="serviceID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="status" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="scenarioType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="applicationName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="isCLRchanged" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Desciption" type="xsd:string"/>
      <xsd:element minOccurs="0" name="extraAttrs" type="bons0:ClrAttrs"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>