optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/createclrasync/clrcreationdetails_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GetCLRCreationDetails" targetNamespace="http://ACE_CLRCreation_Module/GetCLRCreationDetails" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ACE_CLRCreation_Module/GetCLRCreationDetails" xmlns:bons1="http://ACE_CLRCreation_Module">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ACE_CLRCreation_Module/GetCLRCreationDetails">
      <xsd:import namespace="http://ACE_CLRCreation_Module"/>
      <xsd:element name="getCLRCreationDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CLRCreationDetails" nillable="true" type="bons1:CLRCreationDetails"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCLRCreationDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CLRCreationDetailsAck" nillable="true" type="bons1:CLRCreationDetailsAcknowledgement"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="submitCLRCreationFailureResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SubmitCLRCreationFailure" nillable="true" type="bons1:SubmitCLRCreationFailureResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="submitCLRCreationFailureResponseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SubmitCLRCreationFailureAck" nillable="true" type="bons1:CLRCreationDetailsAcknowledgement"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCLRCreationDetailsFault1_getCLRCreationDetailsFault" nillable="true" type="bons1:Acknowledgement"/>
      <xsd:element name="submitCLRCreationFailureResponseFault1_submitCLRCreationFailureResponseFault" nillable="true" type="bons1:Acknowledgement"/>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ACE_CLRCreation_Module" xmlns:bons0="http://ACE_CLRCreation_Module">
      <xsd:include schemaLocation="CLRCreationDetails.xsd"/>
      <xsd:include schemaLocation="ClrAttrs.xsd"/>
      <xsd:include schemaLocation="clrattributes.xsd"/>
      <xsd:include schemaLocation="CLRCreationDetailsAcknowledgement.xsd"/>
      <xsd:include schemaLocation="ClrAcknowledgement.xsd"/>
      <xsd:include schemaLocation="SubmitCLRCreationFailureResponse.xsd"/>
      <xsd:include schemaLocation="RespAttr.xsd"/>
      <xsd:include schemaLocation="CLRcreationFailureResponse.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCLRCreationDetailsResponseMsg">
    <wsdl:part name="getCLRCreationDetailsResult" element="tns:getCLRCreationDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="submitCLRCreationFailureResponseRequestMsg">
    <wsdl:part name="submitCLRCreationFailureResponseParameters" element="tns:submitCLRCreationFailureResponse"/>
  </wsdl:message>
  <wsdl:message name="getCLRCreationDetails_getCLRCreationDetailsFaultMsg">
    <wsdl:part name="getCLRCreationDetailsFault" element="tns:getCLRCreationDetailsFault1_getCLRCreationDetailsFault"/>
  </wsdl:message>
  <wsdl:message name="getCLRCreationDetailsRequestMsg">
    <wsdl:part name="getCLRCreationDetailsParameters" element="tns:getCLRCreationDetails"/>
  </wsdl:message>
  <wsdl:message name="submitCLRCreationFailureResponse_submitCLRCreationFailureResponseFaultMsg">
    <wsdl:part name="submitCLRCreationFailureResponseFault" element="tns:submitCLRCreationFailureResponseFault1_submitCLRCreationFailureResponseFault"/>
  </wsdl:message>
  <wsdl:message name="submitCLRCreationFailureResponseResponseMsg">
    <wsdl:part name="submitCLRCreationFailureResponseResult" element="tns:submitCLRCreationFailureResponseResponse"/>
  </wsdl:message>
  <wsdl:portType name="GetCLRCreationDetails">
    <wsdl:operation name="getCLRCreationDetails">
      <wsdl:input name="getCLRCreationDetailsRequest" message="tns:getCLRCreationDetailsRequestMsg"/>
      <wsdl:output name="getCLRCreationDetailsResponse" message="tns:getCLRCreationDetailsResponseMsg"/>
      <wsdl:fault name="getCLRCreationDetailsFault" message="tns:getCLRCreationDetails_getCLRCreationDetailsFaultMsg"/>
    </wsdl:operation>
    <wsdl:operation name="submitCLRCreationFailureResponse">
      <wsdl:input name="submitCLRCreationFailureResponseRequest" message="tns:submitCLRCreationFailureResponseRequestMsg"/>
      <wsdl:output name="submitCLRCreationFailureResponseResponse" message="tns:submitCLRCreationFailureResponseResponseMsg"/>
      <wsdl:fault name="submitCLRCreationFailureResponseFault" message="tns:submitCLRCreationFailureResponse_submitCLRCreationFailureResponseFaultMsg"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>