optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/createclrasync/SubmitCLRCreationFailureResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ACE_CLRCreation_Module" xmlns:bons0="http://ACE_CLRCreation_Module" xmlns:bons1="http://ACE_CLRCreation_Module" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="CLRcreationFailureResponse.xsd"/>
  <xsd:include schemaLocation="RespAttr.xsd"/>
  <xsd:complexType name="SubmitCLRCreationFailureResponse">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="serviceId" type="xsd:string"/>
      <xsd:element minOccurs="1" name="requestId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="scenarioType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="applicationName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="cLRCreationFailureResponse" type="bons0:CLRcreationFailureResponse"/>
      <xsd:element minOccurs="0" name="extraAttrs" type="bons0:RespAttr"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>