optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getclrasync/CienaParam.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons0="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons1="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons12="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons2="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons3="http://www.tcl.com/2012/09/csvc/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="CienaParam">
    <xsd:sequence>
      <xsd:element name="finalAdminWeight" type="xsd:long"/>
      <xsd:element minOccurs="0" name="homeRoute" type="xsd:string"/>
      <xsd:element minOccurs="0" name="secondaryRoute" type="xsd:string"/>
      <xsd:element name="activationAdminWeight" type="xsd:long"/>
      <xsd:element minOccurs="0" name="dtlProfileName" type="xsd:string"/>
      <xsd:element default="SIGNAL_SNCP" minOccurs="0" name="dtlProfileType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="primaryRouteAdminWt" type="xsd:string"/>
      <xsd:element minOccurs="0" name="secondaryRouteAdminWt" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>