optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getclrasync/CramerServiceHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons0="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons1="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons12="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons2="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons3="http://www.tcl.com/2012/09/csvc/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="CramerServiceHeader">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="RequestID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="originatingSystem" type="xsd:string"/>
      <xsd:element minOccurs="0" name="originationTime" type="xsd:string"/>
      <xsd:element minOccurs="0" name="authUser" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ClientSystemIP" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>