optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getclrasync/CramerTxServiceRequestFailure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons0="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons1="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons12="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons2="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons3="http://www.tcl.com/2012/09/csvc/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="CramerServiceErrorDetails.xsd"/>
  <xsd:complexType name="CramerTxServiceRequestFailure">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ServiceID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="errorGenerationTime" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="errorDetails" type="bons0:CramerServiceErrorDetails"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>