optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getclrasync/CramerGetCLRResponse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Cramer_GetCLRResponse" targetNamespace="http://ACE_Common_Lib/ACE_SP_GetCLRStatus/CramerGetCLRResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ACE_Common_Lib/ACE_SP_GetCLRStatus/CramerGetCLRResponse" xmlns:bons1="http://www.tcl.com/2012/09/csvc/xsd">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ACE_Common_Lib/ACE_SP_GetCLRStatus/CramerGetCLRResponse">
      <xsd:import namespace="http://www.tcl.com/2012/09/csvc/xsd"/>
      <xsd:element name="getCLRInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="header" nillable="true" type="bons1:CramerServiceHeader"/>
            <xsd:element name="response" nillable="true" type="bons1:OrderInfo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="submitGetCramerServiceFailureResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="header" nillable="true" type="bons1:CramerServiceHeader"/>
            <xsd:element name="request" nillable="true" type="bons1:CramerTxServiceRequestFailure"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons0="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons11="http://ACE_Common_Lib/com/tcl/www/_2012/_09/csvc/xsd" xmlns:bons12="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons2="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons3="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons4="http://www.tcl.com/2014/03/transmissionsvc/xsd">
      <xsd:import namespace="http://ACE_Common_Lib/com/tcl/www/_2012/_09/csvc/xsd"/>
      <xsd:import namespace="http://www.tcl.com/2014/03/transmissionsvc/xsd"/>
      <xsd:include schemaLocation="Customer.xsd"/>
      <xsd:include schemaLocation="Protection.xsd"/>
      <xsd:include schemaLocation="TransmissionService.xsd"/>
      <xsd:include schemaLocation="CienaParam.xsd"/>
      <xsd:include schemaLocation="NodeToBeConfigured.xsd"/>
      <xsd:include schemaLocation="OrderInfo.xsd"/>
      <xsd:include schemaLocation="Worker.xsd"/>
      <xsd:include schemaLocation="Topology.xsd"/>
      <xsd:include schemaLocation="CramerServiceErrorDetails.xsd"/>
      <xsd:include schemaLocation="CramerTxServiceRequestFailure.xsd"/>
      <xsd:include schemaLocation="CramerServiceHeader.xsd"/>
      <xsd:include schemaLocation="TopologyMember.xsd"/>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ACE_Common_Lib/com/tcl/www/_2012/_09/csvc/xsd">
      <xsd:include schemaLocation="Broadcast.xsd"/>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.tcl.com/2014/03/transmissionsvc/xsd">
      <xsd:include schemaLocation="L2Params.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCLRInfoResponseRequestMsg">
    <wsdl:part name="getCLRInfoResponseParameters" element="tns:getCLRInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="submitGetCramerServiceFailureResponseRequestMsg">
    <wsdl:part name="submitGetCramerServiceFailureResponseParameters" element="tns:submitGetCramerServiceFailureResponse"/>
  </wsdl:message>
  <wsdl:portType name="CramerGetCLRResponse">
    <wsdl:operation name="getCLRInfoResponse">
      <wsdl:input name="getCLRInfoResponseRequest" message="tns:getCLRInfoResponseRequestMsg"/>
    </wsdl:operation>
    <wsdl:operation name="submitGetCramerServiceFailureResponse">
      <wsdl:input name="submitGetCramerServiceFailureResponseRequest" message="tns:submitGetCramerServiceFailureResponseRequestMsg"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>