optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getclrasync/NodeToBeConfigured.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons0="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons1="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons12="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons2="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons3="http://www.tcl.com/2012/09/csvc/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="NodeToBeConfigured">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="isACEActionRequired" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="isCienaActionRequired" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="isNOCActionRequired" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="nodeAlias1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nodeAlias2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nodeDef" type="xsd:string"/>
      <xsd:element name="nodeDefId" type="xsd:long"/>
      <xsd:element minOccurs="0" name="nodeName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nodeType" type="xsd:string"/>
      <xsd:element name="nodeTypeId" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>