optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getclrasync/OrderInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons0="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons1="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons12="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons2="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons3="http://www.tcl.com/2012/09/csvc/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="TransmissionService.xsd"/>
  <xsd:include schemaLocation="Customer.xsd"/>
  <xsd:complexType name="OrderInfo">
    <xsd:sequence>
      <xsd:element name="customer" type="bons0:Customer"/>
      <xsd:element minOccurs="0" name="isDowntimeRequired" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="portBandwidth" type="xsd:string"/>
      <xsd:element name="service" type="bons0:TransmissionService"/>
      <xsd:element minOccurs="0" name="serviceId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="serviceType" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>