optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getclrasync/Protection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons0="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons1="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons12="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons2="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons3="http://www.tcl.com/2012/09/csvc/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Protection">
    <xsd:sequence>
      <xsd:element name="circuitId" type="xsd:long"/>
      <xsd:element minOccurs="0" name="circuitName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="protectionType" type="xsd:string"/>
      <xsd:element name="workerCircuitId" type="xsd:long"/>
      <xsd:element minOccurs="0" name="workerCircuitName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>