optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getclrasync/TopologyMember.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons0="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons1="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons12="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons2="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons3="http://www.tcl.com/2012/09/csvc/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="TopologyMember">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="aEndHostIP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="aEndHostName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="aEndPortName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="zEndHostIP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="zEndHostName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="zEndPortName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>