optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getclrasync/TransmissionService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons0="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons1="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons11="http://ACE_Common_Lib/com/tcl/www/_2012/_09/csvc/xsd" xmlns:bons12="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons2="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons3="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons4="http://www.tcl.com/2014/03/transmissionsvc/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://ACE_Common_Lib/com/tcl/www/_2012/_09/csvc/xsd" schemaLocation="Broadcast.xsd"/>
  <xsd:import namespace="http://www.tcl.com/2014/03/transmissionsvc/xsd" schemaLocation="L2Params.xsd"/>
  <xsd:include schemaLocation="Protection.xsd"/>
  <xsd:include schemaLocation="Topology.xsd"/>
  <xsd:include schemaLocation="Worker.xsd"/>
  <xsd:include schemaLocation="NodeToBeConfigured.xsd"/>
  <xsd:include schemaLocation="CienaParam.xsd"/>
  <xsd:complexType name="TransmissionService">
    <xsd:sequence>
      <xsd:element name="isACEActionRequired" type="xsd:boolean"/>
      <xsd:element name="isCienaActionRequired" type="xsd:boolean"/>
      <xsd:element name="isNOCActionRequired" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="nodeToConfigure" type="bons0:NodeToBeConfigured"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="protections" type="bons0:Protection"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="topologies" type="bons0:Topology"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="worker" type="bons0:Worker"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="cienaParam" type="bons0:CienaParam"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="broadcast" type="bons11:Broadcast"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="L2Params" type="bons4:L2Params"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>