optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/reverseisc/ReverseISC_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ReverseISC" targetNamespace="http://com.tatacommunications.cramer.reverseisc.ws" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.tatacommunications.cramer.reverseisc.ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xs:schema targetNamespace="http://com.tatacommunications.cramer.reverseisc.ws" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getReverseISCData" type="tns:getReverseISCData"/>
      <xs:element name="getReverseISCDataResponse" type="tns:getReverseISCDataResponse"/>
      <xs:complexType name="getReverseISCData">
        <xs:sequence>
          <xs:element minOccurs="0" name="reverseISCInput" type="tns:reverseISCInput"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="reverseISCInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="RequestId" type="xs:string"/>
          <xs:element minOccurs="0" name="Security" type="tns:security"/>
          <xs:element minOccurs="0" name="ServiceId" type="xs:string"/>
          <xs:element minOccurs="0" name="useCase_Combination" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="security">
        <xs:sequence>
          <xs:element minOccurs="0" name="SourceSystem" type="xs:string"/>
          <xs:element minOccurs="0" name="UniqueKey" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReverseISCDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="reverseISCOutput" type="tns:reverseISCOutput"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="reverseISCOutput">
        <xs:sequence>
          <xs:element minOccurs="0" name="SDWanAttributes" type="tns:sdWanPort"/>
          <xs:element minOccurs="0" name="LMAttributes" type="tns:lmAttributes"/>
          <xs:element minOccurs="0" name="NNIAttributes" type="tns:nniAttributes"/>
          <xs:element minOccurs="0" name="NNI-Protected-Port" type="tns:nniProtectedPort"/>
          <xs:element minOccurs="0" name="RequestId" type="xs:string"/>
          <xs:element minOccurs="0" name="ResponseHeader" type="tns:responseHeader"/>
          <xs:element minOccurs="0" name="RoadWarriorAttributes" type="tns:rwAttributes"/>
          <xs:element minOccurs="0" name="ServiceId" type="xs:string"/>
          <xs:element minOccurs="0" name="VPN-ILLPortAttributes" type="tns:vpnIllPortAttributes"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sdWanPort">
        <xs:sequence>
          <xs:element minOccurs="0" name="SDWAN_on_Different_underlay_IZO_IW_MPLS_Use_Case_4" type="tns:SDWAN_on_Different_underlay_IZO_IW_MPLS_Use_Case_4"/>
          <xs:element minOccurs="0" name="LAN_VR_Internet_WAN_VR_Connection_Use_case_3" type="tns:LAN_VR_Internet_WAN_VR_Connection_Use_case_3"/>
          <xs:element minOccurs="0" name="Logical_Port_Details" type="tns:Logical_Port_Details"/>
          <xs:element minOccurs="0" name="Physical_Port_Details" type="tns:Phyiscal_Port_Details"/>
          <xs:element minOccurs="0" name="IZO_Private_Public_Cloud_Connection_Use_case_IZO_Public_1b" type="tns:IZO_Private_Public_Cloud_Connection_Use_case_IZO_Public_1b"/>
          <xs:element minOccurs="0" name="Routing_Protocol" type="tns:Routing_Protocol"/>
          <xs:element minOccurs="0" name="useCaseName" type="xs:string"/>
          <xs:element minOccurs="0" name="Vlan_Details" type="tns:VLAN_NUMBER"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SDWAN_on_Different_underlay_IZO_IW_MPLS_Use_Case_4">
        <xs:sequence>
          <xs:element minOccurs="0" name="LAN_VR_DISTRIBUTION_LAN_VR_CONNECTION" type="tns:lanVRConnectionDifferentUnderlayVo"/>
          <xs:element minOccurs="0" name="WAN_IP" type="tns:wanIPUseCase4"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="lanVRConnectionDifferentUnderlayVo">
        <xs:complexContent>
          <xs:extension base="tns:sdWanVo">
            <xs:sequence>
              <xs:element minOccurs="0" name="DISTRIBUTION_LAN_VR_SUB_INT" type="xs:string"/>
              <xs:element minOccurs="0" name="LAN_VR_SUB_INT" type="xs:string"/>
              <xs:element minOccurs="0" name="VLAN_NUMBER_FROM_VERSA_PE" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="sdWanVo">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="wanIPUseCase4">
        <xs:sequence>
          <xs:element minOccurs="0" name="IP_ADDRESS_ON_DISTRIBUTION_LAN_VR_SUB_INT" type="xs:string"/>
          <xs:element minOccurs="0" name="IP_ADDRESS_ON_LAN_VR_SIDE" type="xs:string"/>
          <xs:element minOccurs="0" name="WAN_IP_POOL" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LAN_VR_Internet_WAN_VR_Connection_Use_case_3">
        <xs:sequence>
          <xs:element minOccurs="0" name="INTERNET_WAN_VR_CONNECTION" type="tns:internetWANVRConnectionIpNumberVo"/>
          <xs:element minOccurs="0" name="WAN_IP" type="tns:wanIPUseCase3"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="internetWANVRConnectionIpNumberVo">
        <xs:complexContent>
          <xs:extension base="tns:sdWanVo">
            <xs:sequence>
              <xs:element minOccurs="0" name="INTERNET_WAN_VR_SUB_INT" type="xs:string"/>
              <xs:element minOccurs="0" name="LAN_VR_SUB_INT" type="xs:string"/>
              <xs:element minOccurs="0" name="VLAN_NUMBER_FROM_VERSA_PE" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="wanIPUseCase3">
        <xs:sequence>
          <xs:element minOccurs="0" name="IP_ADDRESS_ON_LAN_VR_SUB_INT" type="xs:string"/>
          <xs:element minOccurs="0" name="IP_ADDRES_ON_INTERNET_WAN_VR_SUB_INT" type="xs:string"/>
          <xs:element minOccurs="0" name="WAN_IP_POOL" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Logical_Port_Details">
        <xs:sequence>
          <xs:element minOccurs="0" name="WAN_IP" type="tns:wanip"/>
          <xs:element minOccurs="0" name="LAN_VR_AND_MPLS_PE_DETAILS" type="tns:lanVRMPLSPEVo"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="wanip">
        <xs:sequence>
          <xs:element minOccurs="0" name="WAN_IP_ON_MPLS_PE_1" type="xs:string"/>
          <xs:element minOccurs="0" name="WAN_IP_ON_MPLS_PE_2" type="xs:string"/>
          <xs:element minOccurs="0" name="WAN_IP_ON_VERSA_1" type="xs:string"/>
          <xs:element minOccurs="0" name="WAN_IP_ON_VERSA_2" type="xs:string"/>
          <xs:element minOccurs="0" name="WAN_IP_POOL" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="lanVRMPLSPEVo">
        <xs:complexContent>
          <xs:extension base="tns:sdWanVo">
            <xs:sequence>
              <xs:element minOccurs="0" name="LAN_VR_SUB_INT_TO_CONNECT_MPLS_PE_1" type="xs:string"/>
              <xs:element minOccurs="0" name="LAN_VR_SUB_INT_TO_CONNECT_MPLS_PE_2" type="xs:string"/>
              <xs:element minOccurs="0" name="LOOPBACK_IP_PE1" type="xs:string"/>
              <xs:element minOccurs="0" name="LOOPBACK_IP_PE2" type="xs:string"/>
              <xs:element minOccurs="0" name="MPLS_PE_1_SUB_INTERFACE_TOWARD_VERSA_LAN_VR" type="xs:string"/>
              <xs:element minOccurs="0" name="MPLS_PE_2_SUB_INTERFACE_TOWARD_VERSA_LAN_VR" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Phyiscal_Port_Details">
        <xs:sequence>
          <xs:element minOccurs="0" name="Connection_between_MPLS_WAN_VR_MPLS_PE" type="tns:mplswan2MPLSWANPEVo"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mplswan2MPLSWANPEVo">
        <xs:complexContent>
          <xs:extension base="tns:sdWanVo">
            <xs:sequence>
              <xs:element minOccurs="0" name="PHYISCAL_PORT_ON_SG_LAN_VR_LOOPING_PORT" type="xs:string"/>
              <xs:element minOccurs="0" name="PHYSICAL_PORT_MPLS_PE_1_FACING_VERSA" type="xs:string"/>
              <xs:element minOccurs="0" name="PHYSICAL_PORT_MPLS_PE_2_FACING_VERSA" type="xs:string"/>
              <xs:element minOccurs="0" name="PHYSICAL_PORT_ON_SG_WAN_VR_LOOPING_PORT" type="xs:string"/>
              <xs:element minOccurs="0" name="PHYSICAL_PORT_ON_VERSA_MPLS_PE1" type="xs:string"/>
              <xs:element minOccurs="0" name="PHYSICAL_PORT_ON_VERSA_MPLS_PE2" type="xs:string"/>
              <xs:element minOccurs="0" name="ROUTER_MPLS_PE_1" type="xs:string"/>
              <xs:element minOccurs="0" name="ROUTER_MPLS_PE_2" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="IZO_Private_Public_Cloud_Connection_Use_case_IZO_Public_1b">
        <xs:sequence>
          <xs:element minOccurs="0" name="NON_ROUTABLE_PUBLIC_IP" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Routing_Protocol">
        <xs:sequence>
          <xs:element minOccurs="0" name="DISTRIBUTION_LAN_VR_BGP_AS_NUMBER" type="xs:string"/>
          <xs:element minOccurs="0" name="INTERNET_WAN_VR_BGP_AS_NUMBER" type="xs:string"/>
          <xs:element minOccurs="0" name="LAN_VR_BGP_AS_NUMBER" type="xs:string"/>
          <xs:element minOccurs="0" name="MPLS_WAN_VR_BGP_AS_NUMBER" type="xs:string"/>
          <xs:element minOccurs="0" name="ROUTING_PROTOCOL" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="VLAN_NUMBER">
        <xs:sequence>
          <xs:element minOccurs="0" name="VLAN_NUMBER" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="lmAttributes">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Attribute" type="tns:attribute"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="attribute">
        <xs:sequence>
          <xs:element minOccurs="0" name="Key" type="xs:string"/>
          <xs:element minOccurs="0" name="Value" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nniAttributes">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Attribute" type="tns:attribute"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nniProtectedPort">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Attribute" type="tns:attribute"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="responseHeader">
        <xs:sequence>
          <xs:element minOccurs="0" name="ErrorCode" type="xs:string"/>
          <xs:element minOccurs="0" name="ErrorMessage" type="xs:string"/>
          <xs:element minOccurs="0" name="Remarks" type="xs:string"/>
          <xs:element name="Status" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="rwAttributes">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Attribute" type="tns:attribute"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vpnIllPortAttributes">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Attribute" type="tns:attribute"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="ReverseISC_getReverseISCDataResponse">
    <part element="tns:getReverseISCDataResponse" name="getReverseISCDataResponse"/>
  </message>
  <message name="ReverseISC_getReverseISCData">
    <part element="tns:getReverseISCData" name="getReverseISCData"/>
  </message>
  <portType name="ReverseISC">
    <operation name="getReverseISCData" parameterOrder="getReverseISCData">
      <input message="tns:ReverseISC_getReverseISCData"/>
      <output message="tns:ReverseISC_getReverseISCDataResponse"/>
    </operation>
  </portType>
  <binding name="ReverseISCBinding" type="tns:ReverseISC">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getReverseISCData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ReverseISC">
    <port binding="tns:ReverseISCBinding" name="ReverseISC">
      <soap:address location="http://uswv1vuap003a.vsnl.co.in:8080/ReverseISC/ReverseISC"/>
    </port>
  </service>
</definitions>