optimus/optimus-servicehandover/src/main/resources/wsdl/LrTermination/OptimusTermination.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Optimus_Termination" targetNamespace="http://OptimusTermination/OptimusTermination" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://OptimusTermination/OptimusTermination" xmlns:bons0="http://Optimus_Termination/Optimus_Termination">
  <wsdl:types>
    <xsd:schema targetNamespace="http://OptimusTermination/OptimusTermination" xmlns:bons0="http://OptimusTermination/OptimusTermination" xmlns:bons2="http://OptimusTermination">
      <xsd:import namespace="http://OptimusTermination" schemaLocation="OptimusTerminationResponseBO.xsd"/>
      <xsd:import namespace="http://OptimusTermination" schemaLocation="OptimusTerminationRequestBO.xsd"/>
      <xsd:element name="Request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="OptimusTerminationRequest" nillable="true" type="bons2:OptimusTerminationRequestBO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="OptimusTerminationResponse" nillable="true" type="bons2:OptimusTerminationResponseBO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RequestRequestMsg">
    <wsdl:part name="RequestParameters" element="tns:Request"/>
  </wsdl:message>
  <wsdl:message name="RequestResponseMsg">
    <wsdl:part name="RequestResult" element="tns:RequestResponse"/>
  </wsdl:message>
  <wsdl:portType name="OptimusTermination">
    <wsdl:operation name="Request">
      <wsdl:input name="RequestRequest" message="tns:RequestRequestMsg"/>
      <wsdl:output name="RequestResponse" message="tns:RequestResponseMsg"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>