optimus/optimus-servicehandover/src/main/resources/wsdl/LrTermination/OptimusTerminationRequestBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://OptimusTermination" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="OptimusTerminationRequestBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="service_id" type="xsd:string"/>
      <xsd:element minOccurs="0" name="group_id" type="xsd:string"/>
      <xsd:element minOccurs="0" name="flag" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>