optimus/optimus-billing/src/main/resources/wsdl/CES_NGP_Single_Ticket.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://CESV/CES_NGP_Single_Ticket.tws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://CESV/CES_NGP_Single_Ticket.tws" xmlns:intf="http://CESV/CES_NGP_Single_Ticket.tws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://CESV/CES_NGP_Single_Ticket.tws" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://CESV/CES_NGP_Single_Ticket.tws" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

     <complexType name="NGP_CES_Single_Ticket_Details">

        <sequence>

           <element maxOccurs="1" minOccurs="0" name="source" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="customerName" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="custReferenceNo" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="circuitID" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="serviceID" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="invoiceNo" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="issueCode" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="issueType" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="issueCategory" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="oldTTID" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="invoiceDate" nillable="false" type="xsd:dateTime"/>

           <element maxOccurs="1" minOccurs="0" name="disputeStartDate" nillable="false" type="xsd:dateTime"/>

           <element maxOccurs="1" minOccurs="0" name="disputeEndDate" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="amountStuck" nillable="false" type="xsd:double"/>

           <element maxOccurs="1" minOccurs="0" name="issueDetails" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="contactPerson" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="custEmail" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="primaryContactNo" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="alternateContactNo" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="createContactFlag" nillable="false" type="xsd:boolean"/>

           <element maxOccurs="1" minOccurs="0" name="updateContactFlag" nillable="false" type="xsd:boolean"/>

           <element maxOccurs="1" minOccurs="0" name="currencyType" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="docAvailability" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="contactType" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="userName" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="issueAttr1" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="issueAttr2" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="issueAttr3" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="issueAttr4" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="issueAttr5" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="issueAttr6" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="issueAttr7" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="issueAttr8" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="issueAttr9" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="issueAttr10" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="attachmentContent" nillable="false" type="impl:ArrayOf_string"/>

           <element maxOccurs="1" minOccurs="0" name="attachmentName" nillable="false" type="impl:ArrayOf_string"/>

           <element maxOccurs="1" minOccurs="0" name="address" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="city" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="state" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="region" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="department" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="alternateEmail" nillable="false" type="xsd:string"/>

           <element maxOccurs="1" minOccurs="0" name="desgn" nillable="false" type="xsd:string"/>

        </sequence>

     </complexType>

     <complexType name="ArrayOf_string">

        <sequence>

           <element maxOccurs="unbounded" minOccurs="0" name="item" nillable="false" type="xsd:string"/>

        </sequence>

     </complexType>

   <element name="Create_Single_Ticket">
    <complexType>
     <sequence>
      <element name="inputDetails" type="impl:NGP_CES_Single_Ticket_Details"/>
     </sequence>
    </complexType>
   </element>
   <element name="Create_Single_TicketResponse">
    <complexType>
     <sequence>
      <element name="ticketNo" type="xsd:string"/>
      <element name="response" type="xsd:string"/>
      <element name="errorMsg" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="Create_Single_TicketResponse">

      <wsdl:part element="impl:Create_Single_TicketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="Create_Single_TicketRequest">

      <wsdl:part element="impl:Create_Single_Ticket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CES_NGP_Single_TicketPortType">

      <wsdl:operation name="Create_Single_Ticket">

         <wsdl:input message="impl:Create_Single_TicketRequest" name="Create_Single_TicketRequest">

       </wsdl:input>

         <wsdl:output message="impl:Create_Single_TicketResponse" name="Create_Single_TicketResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CES_NGP_Single_TicketSoapSoapBinding" type="impl:CES_NGP_Single_TicketPortType">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Create_Single_Ticket">

         <wsdlsoap:operation soapAction="http://CESV/CES_NGP_Single_Ticket.tws/Create_Single_Ticket"/>

         <wsdl:input name="Create_Single_TicketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="Create_Single_TicketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CES_NGP_Single_Ticket">

      <wsdl:port binding="impl:CES_NGP_Single_TicketSoapSoapBinding" name="CES_NGP_Single_TicketSoap">
   <wsdl:documentation>
SOAP Port   </wsdl:documentation>

         <wsdlsoap:address location="http://inpudiccesapsit1:9080/teamworks/webservices/CESIRT/CES_NGP_Single_Ticket.tws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
