optimus/optimus-billing/src/main/resources/wsdl/NGP_CES_Update_Comments_Attachment.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://CESV/NGP_CES_Update_Comments_Attachment.tws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://CESV/NGP_CES_Update_Comments_Attachment.tws" xmlns:intf="http://CESV/NGP_CES_Update_Comments_Attachment.tws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://CESV/NGP_CES_Update_Comments_Attachment.tws" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://CESV/NGP_CES_Update_Comments_Attachment.tws" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

     <complexType name="ArrayOf_string">

        <sequence>

           <element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xsd:string"/>

        </sequence>

     </complexType>

   <element name="updateCommentsAttachment">
    <complexType>
     <sequence>
      <element name="remarks" type="xsd:string"/>
      <element name="ticketNo" type="xsd:string"/>
      <element name="updatedBy" type="xsd:string"/>
      <element name="attachmentContent" type="impl:ArrayOf_string"/>
      <element name="attachmentName" type="impl:ArrayOf_string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCommentsAttachmentResponse">
    <complexType>
     <sequence>
      <element name="response" type="xsd:string"/>
      <element name="errorMessage" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateCommentsAttachmentResponse">

      <wsdl:part element="impl:updateCommentsAttachmentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCommentsAttachmentRequest">

      <wsdl:part element="impl:updateCommentsAttachment" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="NGP_CES_Update_Comments_AttachmentPortType">

      <wsdl:operation name="updateCommentsAttachment">

         <wsdl:input message="impl:updateCommentsAttachmentRequest" name="updateCommentsAttachmentRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateCommentsAttachmentResponse" name="updateCommentsAttachmentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NGP_CES_Update_Comments_AttachmentSoapSoapBinding" type="impl:NGP_CES_Update_Comments_AttachmentPortType">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="updateCommentsAttachment">

         <wsdlsoap:operation soapAction="http://CESV/NGP_CES_Update_Comments_Attachment.tws/updateCommentsAttachment"/>

         <wsdl:input name="updateCommentsAttachmentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateCommentsAttachmentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NGP_CES_Update_Comments_Attachment">

      <wsdl:port binding="impl:NGP_CES_Update_Comments_AttachmentSoapSoapBinding" name="NGP_CES_Update_Comments_AttachmentSoap">
   <wsdl:documentation>
SOAP Port   </wsdl:documentation>

         <wsdlsoap:address location="http://inpudiccesapsit1:9080/teamworks/webservices/CESIRT/NGP_CES_Update_Comments_Attachment.tws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
