optimus/optimus-billing/src/main/resources/wsdl/NGP_CES_Add_Comments.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://CESV/NGP_CES_Add_Comments.tws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://CESV/NGP_CES_Add_Comments.tws" xmlns:intf="http://CESV/NGP_CES_Add_Comments.tws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://CESV/NGP_CES_Add_Comments.tws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addComments">
    <complexType>
     <sequence>
      <element name="remarks" type="xsd:string"/>
      <element name="ticketNo" type="xsd:string"/>
      <element name="updatedBy" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCommentsResponse">
    <complexType>
     <sequence>
      <element name="response" type="xsd:string"/>
      <element name="errorMessage" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addCommentsResponse">

      <wsdl:part element="impl:addCommentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCommentsRequest">

      <wsdl:part element="impl:addComments" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="NGP_CES_Add_CommentsPortType">

      <wsdl:operation name="addComments">
   <wsdl:documentation>
The service attached logs the remarks against the Ticket No provided.   </wsdl:documentation>

         <wsdl:input message="impl:addCommentsRequest" name="addCommentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCommentsResponse" name="addCommentsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NGP_CES_Add_CommentsSoapSoapBinding" type="impl:NGP_CES_Add_CommentsPortType">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addComments">

         <wsdlsoap:operation soapAction="http://CESV/NGP_CES_Add_Comments.tws/addComments"/>

         <wsdl:input name="addCommentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCommentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NGP_CES_Add_Comments">
  <wsdl:documentation>
This web service is exposed to NGP, to add comments against the ticket.  </wsdl:documentation>

      <wsdl:port binding="impl:NGP_CES_Add_CommentsSoapSoapBinding" name="NGP_CES_Add_CommentsSoap">
   <wsdl:documentation>
SOAP Port   </wsdl:documentation>

         <wsdlsoap:address location="http://inpudiccesapsit1:9080/teamworks/webservices/CESIRT/NGP_CES_Add_Comments.tws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
