optimus/optimus-servicehandover/src/main/resources/wsdl/TaxCapture/SetActualTaxInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://WS.InternationalTaxManagement.com" xmlns:bons0="http://WS.InternationalTaxManagement.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Security.xsd"/>
  <xsd:include schemaLocation="CommissionDetails.xsd"/>
  <xsd:complexType name="SetActualTaxInput">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Security" type="bons0:Security"/>
      <xsd:element minOccurs="0" name="CommissionDetails" type="bons0:CommissionDetails"/>
      <xsd:element minOccurs="0" name="Username" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>