optimus/optimus-servicehandover/src/main/resources/wsdl/TaxCapture/SetActualTax.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SetActualTax" targetNamespace="http://WS.InternationalTaxManagement.com/SetActualTax" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://WS.InternationalTaxManagement.com/SetActualTax" xmlns:bons1="http://WS.InternationalTaxManagement.com">
  <wsdl:types>
    <xsd:schema targetNamespace="http://WS.InternationalTaxManagement.com/SetActualTax">
      <xsd:import namespace="http://WS.InternationalTaxManagement.com" schemaLocation="SetActualTaxOutput.xsd"/>
      <xsd:import namespace="http://WS.InternationalTaxManagement.com" schemaLocation="SetActualTaxInput.xsd"/>
      <xsd:element name="setActualTax">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SetActualTaxInput" nillable="true" type="bons1:SetActualTaxInput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setActualTaxResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SetActualTaxOutput" nillable="true" type="bons1:SetActualTaxOutput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="setActualTaxResponseMsg">
    <wsdl:part name="setActualTaxResult" element="tns:setActualTaxResponse"/>
  </wsdl:message>
  <wsdl:message name="setActualTaxRequestMsg">
    <wsdl:part name="setActualTaxParameters" element="tns:setActualTax"/>
  </wsdl:message>
  <wsdl:portType name="SetActualTax">
    <wsdl:operation name="setActualTax">
      <wsdl:input name="setActualTaxRequest" message="tns:setActualTaxRequestMsg"/>
      <wsdl:output name="setActualTaxResponse" message="tns:setActualTaxResponseMsg"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>