optimus/optimus-servicehandover/src/main/resources/wsdl/TaxCapture/SetActualTaxOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://WS.InternationalTaxManagement.com" xmlns:bons0="http://WS.InternationalTaxManagement.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="ResponseHeader.xsd"/>
  <xsd:include schemaLocation="OrderDetails.xsd"/>
  <xsd:complexType name="SetActualTaxOutput">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ResponseHeader" type="bons0:ResponseHeader"/>
      <xsd:element minOccurs="0" name="OrderDetails" type="bons0:OrderDetails"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>