optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/createservice/CreateService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cramerserviceslibrary/csvc/wsdl/v1/inventorycreation/serviceobject" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreateServiceAceIp" targetNamespace="http://cramerserviceslibrary/csvc/wsdl/v1/inventorycreation/serviceobject">
<types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cramerserviceslibrary/csvc/wsdl/v1/inventorycreation/serviceobject" version="1.0">
<xs:element name="CreateService" type="tns:CreateService"/>
<xs:element name="CreateServiceResponse" type="tns:CreateServiceResponse"/>
<xs:element name="ServiceFault" type="tns:ServiceFault"/>
<xs:complexType name="CreateService">
<xs:sequence>
<xs:element minOccurs="0" name="Service_Id" type="xs:string"/>
<xs:element minOccurs="0" name="Service_Type" type="xs:string"/>
<xs:element minOccurs="0" name="Customer_Name" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="ListOfFeasibilityId" type="xs:string"/>
<xs:element minOccurs="0" name="COPF_ID" type="xs:string"/>
<xs:element minOccurs="0" name="ServiceBandwidth_Value" type="xs:string"/>
<xs:element minOccurs="0" name="ServiceBandwidth_Unit" type="xs:string"/>
<xs:element minOccurs="0" name="LMBandwidth_Value" type="xs:string"/>
<xs:element minOccurs="0" name="LMBandwidth_Unit" type="xs:string"/>
<xs:element minOccurs="0" name="AdditionalIP" type="xs:string"/>
<xs:element minOccurs="0" name="scopeOfManagement" type="xs:string"/>
<xs:element minOccurs="0" name="ServiceOption" type="xs:string"/>
<xs:element minOccurs="0" name="ServiceLink" type="xs:string"/>
<xs:element minOccurs="0" name="PriSecMapping" type="xs:string"/>
<xs:element minOccurs="0" name="RequestID" type="xs:string"/>
<xs:element minOccurs="0" name="RequestingSystem" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CreateServiceResponse">
<xs:sequence>
<xs:element minOccurs="0" name="response" type="tns:createServiceResponse"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createServiceResponse">
<xs:sequence>
<xs:element name="Status" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ServiceFault">
<xs:sequence>
<xs:element minOccurs="0" name="errorCode" type="xs:string"/>
<xs:element minOccurs="0" name="errorLongDescription" type="xs:string"/>
<xs:element minOccurs="0" name="errorShortDescription" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="suppressed" type="tns:throwable"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="throwable">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="stackTrace" nillable="true" type="tns:stackTraceElement"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="extension restriction" name="stackTraceElement">
<xs:sequence/>
</xs:complexType>
</xs:schema>
</types>
<message name="CreateServiceAceIp_CreateServiceResponse">
<part element="tns:CreateServiceResponse" name="CreateServiceResponse"/>
</message>
<message name="CreateServiceAceIp_CreateService">
<part element="tns:CreateService" name="CreateService"/>
</message>
<message name="ServiceFault">
<part element="tns:ServiceFault" name="ServiceFault"/>
</message>
<portType name="CreateServiceAceIp">
<operation name="CreateService" parameterOrder="CreateService">
<input message="tns:CreateServiceAceIp_CreateService"/>
<output message="tns:CreateServiceAceIp_CreateServiceResponse"/>
<fault message="tns:ServiceFault" name="ServiceFault"/>
</operation>
</portType>
<binding name="CreateServiceAceIpBinding" type="tns:CreateServiceAceIp">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="CreateService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceFault">
<soap:fault name="ServiceFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="CreateServiceAceIp">
<port binding="tns:CreateServiceAceIpBinding" name="CreateServiceAceIpPort">
<soap:address location="http://cramicubeprd.vsnl.co.in:8102/CramerCS/ws/wsdl/CreateService.wsdl"/>
</port>
</service>
</definitions>