optimus/optimus-servicehandover/src/main/resources/wsdl/IntlOrder/IntlAccount/AuditLog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://WS.InternationalCustomerMngmnt.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AuditLog">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CreatedDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="UpdatedBy" type="xsd:string"/>
      <xsd:element minOccurs="0" name="UpdatedDate" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>