optimus/optimus-servicehandover/src/main/resources/wsdl/IntlOrder/IntlAccount/SetSECSProfileInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://WS.InternationalCustomerMngmnt.com" xmlns:bons0="http://WS.InternationalCustomerMngmnt.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="GenevaProfileSaveInfo.xsd"/>
  <xsd:include schemaLocation="AuditLog.xsd"/>
  <xsd:include schemaLocation="ProfileSaveInfo.xsd"/>
  <xsd:include schemaLocation="Security.xsd"/>
  <xsd:complexType name="SetSECSProfileInput">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Security" type="bons0:Security"/>
      <xsd:element minOccurs="0" name="OrganizationNumber" type="xsd:int"/>
      <xsd:element minOccurs="0" name="CompanyID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="InputFlag" type="xsd:int"/>
      <xsd:element minOccurs="0" name="ProflieRelNum" type="xsd:int"/>
      <xsd:element minOccurs="0" name="SECSProfileSaveInfo" type="bons0:SECSProfileSaveInfo"/>
      <xsd:element minOccurs="0" name="AuditLog" type="bons0:AuditLog"/>
      <xsd:element minOccurs="0" name="GenevaProfileSaveInfo" type="bons0:GenevaProfileSaveInfo"/>
      <xsd:element minOccurs="0" name="BillingMethod" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CRN_ID" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>