optimus/optimus-servicehandover/src/main/resources/wsdl/IntlOrder/IntlAccount/SetSECSProfile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SetSECSProfile" targetNamespace="http://WS.InternationalCustomerMngmnt.com/SetSECSProfile" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://WS.InternationalCustomerMngmnt.com/SetSECSProfile" xmlns:bons1="http://WS.InternationalCustomerMngmnt.com">
  <wsdl:types>
    <xsd:schema targetNamespace="http://WS.InternationalCustomerMngmnt.com/SetSECSProfile">
      <xsd:import namespace="http://WS.InternationalCustomerMngmnt.com" schemaLocation="SetSECSProfileOutput.xsd"/>
      <xsd:import namespace="http://WS.InternationalCustomerMngmnt.com" schemaLocation="SetSECSProfileInput.xsd"/>
      <xsd:element name="setSECSProfile">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SetSECSProfileInput" nillable="true" type="bons1:SetSECSProfileInput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setSECSProfileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SetSECSProfileOutput" nillable="true" type="bons1:SetSECSProfileOutput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="setSECSProfileResponseMsg">
    <wsdl:part name="setSECSProfileResult" element="tns:setSECSProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="setSECSProfileRequestMsg">
    <wsdl:part name="setSECSProfileParameters" element="tns:setSECSProfile"/>
  </wsdl:message>
  <wsdl:portType name="SetSECSProfile">
    <wsdl:operation name="setSECSProfile">
      <wsdl:input name="setSECSProfileRequest" message="tns:setSECSProfileRequestMsg"/>
      <wsdl:output name="setSECSProfileResponse" message="tns:setSECSProfileResponseMsg"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>