optimus/optimus-servicehandover/src/main/resources/wsdl/IntlOrder/IntlAccount/SetSECSProfileOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://WS.InternationalCustomerMngmnt.com" xmlns:bons0="http://WS.InternationalCustomerMngmnt.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="ResponseHeader.xsd"/>
  <xsd:complexType name="SetSECSProfileOutput">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ResponseHeader" type="bons0:ResponseHeader"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ProflieRelNum" type="xsd:int"/>
      <xsd:element minOccurs="0" name="AccountNumber" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>