optimus/optimus-servicehandover/src/main/resources/wsdl/CreateOrder/CreateOrderRequestBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://InstaCCLibrary/BSSEBOs" xmlns:bons0="http://InstaCCLibrary/BSSEBOs" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="CommonAttributesBO.xsd"/>
  <xsd:include schemaLocation="ProductCreationRequestBO.xsd"/>
  <xsd:include schemaLocation="AccountCreationRequestBO.xsd"/>
  <xsd:complexType name="CreateOrderRequestBO">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="acc_creation_input" type="bons0:AccountCreationRequestBO"/>
      <xsd:element minOccurs="0" name="common_input" type="bons0:CommonAttributesBO" maxOccurs="1"/>
      <xsd:element minOccurs="0" name="prod_creation_input" type="bons0:ProductCreationRequestBO" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>