optimus/optimus-servicehandover/src/main/resources/wsdl/CreateOrder/OptimusTerminationResponseBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://OptimusTermination" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="OptimusTerminationResponseBO">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="status" type="xsd:string"/>
      <xsd:element minOccurs="0" name="error_msg" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>