optimus/optimus-servicehandover/src/main/resources/wsdl/CreateOrder/ResponseHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://InstaCCLibrary/BSSEBOs" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ResponseHeader">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="status" type="xsd:string"/>
      <xsd:element minOccurs="0" name="errorCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="errorMsg" type="xsd:string"/>
      <xsd:element minOccurs="0" name="errorDesc" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>