optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getipserviceasync/CramerWimaxLastmile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://CramerIPServicesLibrary/csvc/bo/_2013/_02" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="CramerWimaxLastmile">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BTSIP" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BTSName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SectorID" type="xsd:string"/>
      <xsd:element minOccurs="0" name="BTSType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ManagementVID" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>