optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getipserviceasync/CramerVSATLastmile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://BaselineCramerRevision1/com/tcl/www/_2014/_02/csvc/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://www.tcl.com/2011/11/ace/common/xsd" xmlns:bons03="http://BaselineCramerRevision1/com/tcl/www/_2014/_02/csvc/xsd" xmlns:bons06="http://BaselineCramerRevision1/com/tcl/www/_2014/_02/csvc/xsd" xmlns:bons11="http://www.tcl.com/2011/11/ace/common/xsd" xmlns:bons2="http://BaselineCramerRevision1/com/tcl/www/_2014/_02/csvc/xsd">
  <xsd:import namespace="http://www.tcl.com/2011/11/ace/common/xsd" schemaLocation="CramerVSATLastmile_imports_1.xsd"/>
  <xsd:complexType name="CramerVSATLastmile">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="partnerASBRWanv4ip" type="bons0:IPV4Address"/>
      <xsd:element minOccurs="0" name="partnerASBRWanv6ip" type="bons0:IPV6Address"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>