optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getipserviceasync/CramerVPLSService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://BaselineCramerRevision1/com/tcl/www/_2014/_02/csvc/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://www.tcl.com/2011/11/ace/common/xsd" xmlns:bons01="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons02="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons03="http://BaselineCramerRevision1/com/tcl/www/_2014/_02/csvc/xsd" xmlns:bons04="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons05="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons06="http://BaselineCramerRevision1/com/tcl/www/_2014/_02/csvc/xsd" xmlns:bons1="http://www.tcl.com/2012/09/csvc/xsd" xmlns:bons11="http://www.tcl.com/2011/11/ace/common/xsd" xmlns:bons2="http://BaselineCramerRevision1/com/tcl/www/_2014/_02/csvc/xsd">
  <xsd:import namespace="http://www.tcl.com/2011/11/ace/common/xsd" schemaLocation="CramerVPLSService_imports_2.xsd"/>
  <xsd:import namespace="http://www.tcl.com/2012/09/csvc/xsd" schemaLocation="CramerVPLSService_imports_1.xsd"/>
  <xsd:import namespace="http://Cramer_07Feb18/isPortChange_03Mar2017" schemaLocation="lanRoutingProtocol.xsd"/>
  <xsd:include schemaLocation="CramerL2VPNService.xsd"/>
  <xsd:complexType name="CramerVPLSService">
    <xsd:complexContent>
      <xsd:extension base="bons03:CramerL2VPNService">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="BridgeDomainVLAN" type="xsd:string"/>
          <xsd:element minOccurs="0" name="attribute1" type="xsd:string"/>
          <xsd:element minOccurs="0" name="attribute2" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>