optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getipserviceasync/CramerRWService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://CramerServiceUAT/com/tcl/www/_2012/_09/csvc/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons01="http://BaselineCramerRevision1/com/tcl/www/_2014/_02/csvc/xsd" xmlns:bons2="http://www.tcl.com/2012/09/csvc/xsd">
  <xsd:import namespace="http://BaselineCramerRevision1/com/tcl/www/_2014/_02/csvc/xsd" schemaLocation="CramerLNSDetails.xsd"/>
  <xsd:import namespace="http://www.tcl.com/2011/11/ace/common/xsd" schemaLocation="CramerRWService_imports_2.xsd"/>
  <xsd:import namespace="http://www.tcl.com/2012/09/csvc/xsd" schemaLocation="CramerRWService_imports_1.xsd"/>
  <xsd:import namespace="http://Cramer_07Feb18/isPortChange_03Mar2017" schemaLocation="lanRoutingProtocol.xsd"/>
  <xsd:complexType name="CramerRWService">
    <xsd:complexContent>
      <xsd:extension base="bons2:IPService">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="LNSDetails" type="bons01:CramerLNSDetails"/>
          <xsd:element minOccurs="0" name="attribute1" type="xsd:string"/>
          <xsd:element minOccurs="0" name="attribute2" type="xsd:string"/>
          <xsd:element minOccurs="0" name="attribute3" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>