optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getipserviceasync/getipserviceasync.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ACE_IAS_Crammer_Response_Module_CramerIPServiceResponseExport1_Endpoint" targetNamespace="http://www.tcl.com/2012/09/csvc/inf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tcl.com/2012/09/csvc/inf" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:bons0="http://CramerIPServicesLibrary/csvc/wsdl/v1/CramerIPServiceResponse">
  <wsdl:import namespace="http://www.tcl.com/2012/09/csvc/inf" location="ACE_IAS_Crammer_Response_Module_CramerIPServiceResponseExport1.wsdl"/>
  <wsdl:binding name="CramerIPServiceResponseExport1_CramerIPServiceResponseHttpBinding" type="tns:CramerIPServiceResponse">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getIPServiceInfoResponse">
      <soap:operation soapAction=""/>
      <wsdl:input name="getIPServiceInfoResponseRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="checkIPServiceExistResponse">
      <soap:operation soapAction=""/>
      <wsdl:input name="checkIPServiceExistResponseRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="assignDummyWANIPResponse">
      <soap:operation soapAction=""/>
      <wsdl:input name="assignDummyWANIPResponseRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="submitCramerIPServiceFailureResponse">
      <soap:operation soapAction=""/>
      <wsdl:input name="submitCramerIPServiceFailureResponseRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="releaseDummyWANIPResponse">
      <soap:operation soapAction=""/>
      <wsdl:input name="releaseDummyWANIPResponseRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="setCLRInfoResponse">
      <soap:operation soapAction=""/>
      <wsdl:input name="setCLRInfoResponseRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CramerIPServiceResponseExport1_CramerIPServiceResponseHttpService">
    <wsdl:port name="CramerIPServiceResponseExport1_CramerIPServiceResponseHttpPort" binding="tns:CramerIPServiceResponseExport1_CramerIPServiceResponseHttpBinding">
      <soap:address location="http://10.133.208.194/optimus-serviceactivation/api/ws/getipserviceasync.wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>