optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getipserviceasync/HSRP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://Cramer_07Feb18/isPortChange_03Mar2017" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Cramer_07Feb18/isPortChange_03Mar2017">
  <xsd:complexType name="HSRP">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="virtualIPv4Address" type="xsd:string"/>
      <xsd:element minOccurs="0" name="virtualIPv6Address" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>