optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getipserviceasync/IPAddress.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.tcl.com/2011/11/ace/common/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="http://www.tcl.com/2011/11/ace/common/xsd">
  <xsd:complexType name="IPAddress">
    <xsd:sequence>
      <xsd:element form="unqualified" minOccurs="0" name="address" type="xsd:string"/>
      <xsd:element form="unqualified" minOccurs="0" name="isObjectModifiedInstance" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>