optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getipserviceasync/lanRoutingProtocol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://Cramer_07Feb18/isPortChange_03Mar2017" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://Cramer_07Feb18/isPortChange_03Mar2017">
  <xsd:include schemaLocation="HSRP.xsd"/>
  <xsd:include schemaLocation="VRRP.xsd"/>
  <xsd:complexType name="lanRoutingProtocol">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="HSRP" type="bons0:HSRP"/>
      <xsd:element minOccurs="0" name="VRRP" type="bons0:VRRP"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>