optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getipserviceasync/mCPEwanIPDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ACE_GVPN_CramerResponse_Module/com/tcl/www/_2012/_09/csvc/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://www.tcl.com/2011/11/ace/common/xsd">
  <xsd:import namespace="http://www.tcl.com/2011/11/ace/common/xsd" schemaLocation="IPV4Address.xsd"/>
  <xsd:complexType name="mCPEwanIPDetails">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="mCPEwanIPPool" type="bons0:IPV4Address"/>
      <xsd:element minOccurs="0" name="SRPFacingmCPEwanIPv4Address" type="bons0:IPV4Address"/>
      <xsd:element minOccurs="0" name="CPEFacingmCPEwanIPv4Address" type="bons0:IPV4Address"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>