optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/getipserviceasync/Multicasting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://BaselineCramerRevision1/com/tcl/www/_2014/_02/csvc/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bons03="http://BaselineCramerRevision1/com/tcl/www/_2014/_02/csvc/xsd" xmlns:bons06="http://BaselineCramerRevision1/com/tcl/www/_2014/_02/csvc/xsd" xmlns:bons2="http://BaselineCramerRevision1/com/tcl/www/_2014/_02/csvc/xsd">
  <xsd:complexType name="Multicasting">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="defaultMDT" type="xsd:string"/>
      <xsd:element minOccurs="0" name="dataMDT" type="xsd:string"/>
      <xsd:element minOccurs="0" name="attribute1" type="xsd:string"/>
      <xsd:element minOccurs="0" name="attribute2" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>