optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/downtimeasync/GetServiceDowntimeDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GetServiceDowntimeDetails" targetNamespace="http://ACE_ServiceDowntime_Module/GetServiceDowntimeDetails" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ACE_ServiceDowntime_Module/GetServiceDowntimeDetails" xmlns:bons1="http://ACE_ServiceDowntime_Module">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ACE_ServiceDowntime_Module/GetServiceDowntimeDetails">
      <xsd:import namespace="http://ACE_ServiceDowntime_Module" schemaLocation="DowntimeAcknowledgement.xsd"/>
      <xsd:import namespace="http://ACE_ServiceDowntime_Module" schemaLocation="SubmitServiceDowntimeFaultResponse.xsd"/>
      <xsd:import namespace="http://ACE_ServiceDowntime_Module" schemaLocation="ServiceDownDtlsResponse.xsd"/>
      <xsd:import namespace="http://ACE_ServiceDowntime_Module" schemaLocation="SubmitServiceDowntimeFault.xsd"/>
      <xsd:import namespace="http://ACE_ServiceDowntime_Module" schemaLocation="ServiceDownDtls.xsd"/>
      <xsd:element name="getServiceDowntimeDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ServiceDowntimeDtls" nillable="true" type="bons1:ServiceDownDtls"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getServiceDowntimeDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ServiceDowntimeDtlsResponse" nillable="true" type="bons1:ServiceDownDtlsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="submitServiceDowntimeFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="submitFault" nillable="true" type="bons1:SubmitServiceDowntimeFault"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="submitServiceDowntimeFaultResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="submitFaultResponse" nillable="true" type="bons1:SubmitServiceDowntimeFaultResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getServiceDowntimeDetailsFault1_getServiceDowntimeDetailsFault" nillable="true" type="bons1:Acknowledgement"/>
      <xsd:element name="submitServiceDowntimeFaultFault1_submitDowntimeFault" nillable="true" type="bons1:Acknowledgement"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getServiceDowntimeDetailsResponseMsg">
    <wsdl:part name="getServiceDowntimeDetailsResult" element="tns:getServiceDowntimeDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="submitServiceDowntimeFaultRequestMsg">
    <wsdl:part name="submitServiceDowntimeFaultParameters" element="tns:submitServiceDowntimeFault"/>
  </wsdl:message>
  <wsdl:message name="submitServiceDowntimeFaultResponseMsg">
    <wsdl:part name="submitServiceDowntimeFaultResult" element="tns:submitServiceDowntimeFaultResponse"/>
  </wsdl:message>
  <wsdl:message name="getServiceDowntimeDetailsRequestMsg">
    <wsdl:part name="getServiceDowntimeDetailsParameters" element="tns:getServiceDowntimeDetails"/>
  </wsdl:message>
  <wsdl:message name="submitDowntimeFault_submitServiceDowntimeFaultMsg">
    <wsdl:part name="submitDowntimeFault" element="tns:submitServiceDowntimeFaultFault1_submitDowntimeFault"/>
  </wsdl:message>
  <wsdl:message name="getServiceDowntimeDetails_getServiceDowntimeDetailsFaultMsg">
    <wsdl:part name="getServiceDowntimeDetailsFault" element="tns:getServiceDowntimeDetailsFault1_getServiceDowntimeDetailsFault"/>
  </wsdl:message>
  <wsdl:portType name="GetServiceDowntimeDetails">
    <wsdl:operation name="getServiceDowntimeDetails">
      <wsdl:input name="getServiceDowntimeDetailsRequest" message="tns:getServiceDowntimeDetailsRequestMsg"/>
      <wsdl:output name="getServiceDowntimeDetailsResponse" message="tns:getServiceDowntimeDetailsResponseMsg"/>
      <wsdl:fault name="getServiceDowntimeDetailsFault" message="tns:getServiceDowntimeDetails_getServiceDowntimeDetailsFaultMsg"/>
    </wsdl:operation>
    <wsdl:operation name="submitServiceDowntimeFault">
      <wsdl:input name="submitServiceDowntimeFaultRequest" message="tns:submitServiceDowntimeFaultRequestMsg"/>
      <wsdl:output name="submitServiceDowntimeFaultResponse" message="tns:submitServiceDowntimeFaultResponseMsg"/>
      <wsdl:fault name="submitDowntimeFault" message="tns:submitDowntimeFault_submitServiceDowntimeFaultMsg"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>