optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/downtimeasync/RequestHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://ACE_ServiceDowntime_Module" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="RequestHeader">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="serviceId" type="xsd:string"/>
      <xsd:element minOccurs="1" name="requestId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>