optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/downtimeasync/ServiceDownDtls.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://ACE_ServiceDowntime_Module" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ServiceDownDtls">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="serviceID" type="xsd:string"/>
      <xsd:element minOccurs="1" name="requestId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="downtimeFlag" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="InventoryFlag" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>