optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/downtimeasync/ServiceDowntimeSubmitionFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://ACE_ServiceDowntime_Module" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ServiceDowntimeSubmitionFault">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="errorCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="errorLongDescription" type="xsd:string"/>
      <xsd:element minOccurs="0" name="errorShortDescription" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>