optimus/optimus-serviceactivation/src/main/resources/wsdl/cramer/downtimeasync/SubmitServiceDowntimeFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://ACE_ServiceDowntime_Module" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://ACE_ServiceDowntime_Module">
  <xsd:include schemaLocation="ServiceDowntimeSubmitionFault.xsd"/>
  <xsd:include schemaLocation="RequestHeader.xsd"/>
  <xsd:complexType name="SubmitServiceDowntimeFault">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="header" type="bons0:RequestHeader"/>
      <xsd:element minOccurs="0" name="fault" type="bons0:ServiceDowntimeSubmitionFault"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>