optimus/optimus-servicehandover/src/main/resources/wsdl/CustomerData/GetCustomerGeneralInformationInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://WS.CustomerManagement.com" xmlns:bons0="http://WS.CustomerManagement.com" xmlns:bons1="http://WS.CustomerManagement.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Security.xsd"/>
  <xsd:complexType name="GetCustomerGeneralInformationInput">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Security" type="bons0:Security"/>
      <xsd:element minOccurs="0" name="AccountNo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SystemName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>