optimus/optimus-servicehandover/src/main/resources/wsdl/CustomerData/GetCustomerAccountNumberOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://WS.CustomerManagement.com" xmlns:bons0="http://WS.CustomerManagement.com" xmlns:bons1="http://WS.CustomerManagement.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="AccountServiceInformation.xsd"/>
  <xsd:include schemaLocation="ResponseHeader.xsd"/>
  <xsd:complexType name="GetCustomerAccountNumberOutput">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ResponseHeader" type="bons0:ResponseHeader"/>
      <xsd:element minOccurs="0" name="CRNId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="TotalFound" type="xsd:int"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="AccountServiceInformation" type="bons0:AccountServiceInformation"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>