optimus/optimus-servicehandover/src/main/resources/wsdl/CustomerData/Security.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://WS.CustomerManagement.com" xmlns:bons0="http://WS.CustomerManagement.com" xmlns:bons1="http://WS.CustomerManagement.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Security">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SourceSystem" type="xsd:string"/>
      <xsd:element minOccurs="0" name="UniqueKey" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>